
<div style="position: relative;min-height: 200px;">
<p style="width:750px;text-align: center;font-size: 20px;font-weight: bold;margin: 20px auto">浙江助残网(APP)送货单</p>

<div style="width:750px;;margin: 0 auto">
    <div style="margin-top: 10px">
        <p style="width: 50%;float: left">服务站名称:{$vo.user.entity_title}<p/>
        <p style="width: 50%;float: left">订单日期:{$vo.create_time}</p>
        <div style="clear: both"></div>
    </div>
    <div style="margin-top: 10px">
        <p style="width: 50%;float: left">收货人:{$vo.receiving_name}<p/>
        <p style="width: 50%;float: left">订单编号:{$vo.order_no}</p>
        <div style="clear: both"></div>
    </div>
    <div style="margin: 10px 0">
        <p style="width: 50%;float: left">收货地址:{$vo.receiving_address}</p>
        <p style="width: 50%;float: left">联系电话:{$vo.receiving_tel}</p>
        <div style="clear: both"></div>
    </div>
</div>
    <table style="margin:0 auto;width:750px;">
        <tr>
            <th width="30%" style="border: 1px solid #ddd;">商品全名</th>
            <th width="15%" style="border: 1px solid #ddd;">产品编码</th>
            <th width="10%" style="border: 1px solid #ddd;">单位</th>
            <th width="10%" style="border: 1px solid #ddd;">属性</th>
            <th width="10%" style="border: 1px solid #ddd;">数量</th>
            <th width="10%" style="border: 1px solid #ddd;">单价</th>
            <th width="15%" style="border: 1px solid #ddd;">金额</th>
        </tr>
        <volist name="vo['order_snapshot']" id="order_item">
            <tr>

                <td style="border: 1px solid #ddd;" class="iid">
                    <p style="display: none"><img src="{$order_item['img']}" width="20" height="20"/></p>
                    <p>{$order_item.title}</p>
                </td>
                <td style="border: 1px solid #ddd" class="factory-price">{$order_item.code}</td>
                <td style="border: 1px solid #ddd" class="factory-price">{$order_item.unit_desc}</td>
                <td style="border: 1px solid #ddd" class="factory-price">{$order_item.props}</td>
                <td style="border: 1px solid #ddd;" class="title">{$order_item.num}</td>
                <td style="border: 1px solid #ddd;" class="title">{$order_item.price|format_price}元</td>
                <td style="border: 1px solid #ddd" class="meituan-price">{$order_item.sum|format_price}元</td>

            </tr>
        </volist>

        <tr>

            <td style="border: 1px solid #ddd;">

                合计
            </td>
            <td style="border: 1px solid #ddd;" ></td>
            <td style="border: 1px solid #ddd;" ></td>
            <td style="border: 1px solid #ddd;" >{$vo.num}</td>
            <td style="border: 1px solid #ddd;" ></td>
            <td style="border: 1px solid #ddd;" >{$vo.sum|format_price}元(含运费{$vo.freight|format_price}元)</td>
        </tr>
        <tr>
            <td colspan="7">
                <div style="width:750px;margin: 0 auto">
                <div style="margin-top: 10px">
                    <if condition="$vo.pay_type == 2">
                        <p style="width: 50%;float: left">应收金额:{$vo.sum|format_price}元</p>
                        <else/>
                        <p style="width: 50%;float: left">应收金额:0</p>
                    </if>

                    <p style="width: 50%;float: left">收款方式:【{$vo.pay_type_desc}】<p/>
                    <div style="clear: both"></div>
                </div>
            </div>
            </td>
        </tr>
    </table>



    <div style="width:750px;margin: 10px auto">
        <div style="height: 1px;width: 750px;margin: 0 auto;border-top: 1px solid #000"></div>
        <div style="width:750px;margin: 0 auto;">
            <div style="margin: 10px 0">

                <p style="width: 66%;float: left">公司地址:金华市金东区李渔东路2500号广润翰城4幢165-168<p/>
                <p style="width: 33%;float: left;">电话0579-82206688 82206607</p>
                <div style="clear: both"></div>
            </div>
        </div>
    </div>
</div>
