<extend name="Public/base"/>

<block name="body">
	<div class="g-wrap">
		<!-- 按钮工具栏 -->
		<div class="u-tab">
			<ul class="cc tab-nav">
				<li class="current"><a href="javascript:;">{$title}</a></li>
				<include file="Public/history_link"/>
			</ul>
		</div>
		<!-- 数据表格 -->
		<div class="tab-content table_list">
			<!-- 表单 -->
			<form id="form" action="{:U('submit_monthly')}/id/{$info.id}" method="post" class="form-horizontal">
				<div id="tab">
					<table class="biaoge">
						<tbody>
						<tr>
							<td colspan="4"><span class="title">慈溪小额贷款公司月报表</span><span> (单位 万元)</span></td>

						</tr>
						<tr>
							<td colspan="4">
								<if condition="$can_all_edit && !I('editing')">
									填报机构:
									<select name="all_name" class="all_name">
										<php>
											$list = $departments;
											$cur = I('all_name') ? I('all_name') : '';
											foreach($list as $li){
											$selected = ($li == $cur) ? 'selected' : '';
											echo '<option value="'.$li.'" '.$selected.'>'.$li.'</option>';
											}
										</php>
									</select>
									<else/>
									<input type="hidden" value="{$all_name}" name="all_name"/>
									{$all_name}
								</if>
								<input type="hidden" class="input input-medium" name="filler_man" value="{:session('user_auth.username')}">
								<if condition="$info['year']">
									&nbsp;时间:{$info.year}年{$info.month}月
									<input type="hidden" value="{$info.year}" name="year"/>
									<input type="hidden" value="{$info.month}" name="month"/>
									<else/>
									&nbsp;时间:
									<select name="year" class="year change_time" >
										<php>
											$years = [2016,2017];
											$cur_year = I('year') ? I('year') : intval(date('Y'));
											foreach($years as $year){
											$selected = ($year == $cur_year) ? 'selected' : '';
											echo '<option value="'.$year.'" '.$selected.'>'.$year.'</option>';
											}
										</php>
									</select>年
									<select name="month" class="month change_time">
										<php>
											$months = [1,2,3,4,5,6,7,8,9,10,11,12];
											$cur_month = I('month') ? I('month') : intval(date('m'));
											foreach($months as $month){
											$selected = ($month == $cur_month) ? 'selected' : '';
											echo '<option value="'.$month.'" '.$selected.'>'.$month.'</option>';
											}
										</php>
									</select>月

								</if>
							</td>
							<td colspan="5" style="display: none">
								<input type="text" class="input input-medium" name="filler_man" value="{:session('user_auth.username')}">
							</td>
						</tr>

						<tr>
							<td rowspan="2">可放贷资金</td>
							<td colspan="2">
								所有者权益:
							</td>
							<td>
								<input type="text" class="input input-medium" name="Funds_Owner" value="{$info.Funds_Owner}">
							</td>
						</tr>
						<tr>
							<td colspan="2">
								银行融资:
							</td>
							<td>
								<input type="text" class="input input-medium" name="Funds_Bank" value="{$info.Funds_Bank}">
							</td>
						</tr>

						<tr>
							<td rowspan="4">月末贷款</td>
							<td colspan="2">
								余额:
							</td>
							<td>
								<input type="text" class="input input-medium" name="Month_Amount" value="{$info.Month_Amount}">
							</td>
						</tr>
						<tr>
							<td colspan="2">
								笔数:
							</td>
							<td>
								<input type="text" class="input input-medium" name="Month_Amount_N" value="{$info.Month_Amount_N}">
							</td>
						</tr>
						<tr>
							<td colspan="2">
								小额贷款:
							</td>
							<td>
								<input type="text" class="input input-medium" name="Month_Small" value="{$info.Month_Small}">
							</td>
						</tr>
						<tr>
							<td colspan="2">
								笔数:
							</td>
							<td>
								<input type="text" class="input input-medium" name="Month_Small_N" value="{$info.Month_Small_N}">
							</td>
						</tr>
						<tr>
							<td colspan="3">
								年利率%:
							</td>
							<td>
								<input type="text" class="input input-medium" name="Interest_Rate" value="{$info.Interest_Rate}">
							</td>
						</tr>

						<tr>
							<td colspan="3">
								不良贷款:
							</td>
							<td>
								<input type="text" class="input input-medium" name="Bad_Debt" value="{$info.Bad_Debt}">
							</td>
						</tr>
						<tr>
							<td colspan="3">
								净利润:
							</td>
							<td>
								<input type="text" class="input input-medium" name="Net_Profit" value="{$info.Net_Profit}">
							</td>
						</tr>
						<tr>
							<td colspan="3">
								总收入:
							</td>
							<td>
								<input type="text" class="input input-medium" name="Revenue" value="{$info.Revenue}">
							</td>
						</tr>
						</tbody>
					</table>
				</div>






				<div class="btn_wrap">
					<div class="btn_wrap_pd">
						<button class="btn submit-btn J_ajax_post" id="submit" type="submit" target-form="form-horizontal">保存</button>
						<input name="submit_verify" type="checkbox" value="2"/>提交
					</div>
				</div>
			</form>
		</div>
	</div>
	</div>

</block>