<extend name="Public/base"/>
<block name="body">
	<div class="g-wrap">
		<!-- 按钮工具栏 -->
		<div class="u-tab">

		    <ul class="cc">
		      	<li class="current"><a href="javascript:;">所有账务管理</a></li>
		    </ul>
		</div>
	    <div class="search_type cc mb10 search-form">
	      <div class="mb10">
			  <if condition="!$is_franchisee">
				  &nbsp;用户id：
				  <input type="text" class="input length_2" name="uid" style="width:100px;" value="{:I('uid')}" >

			  </if>
			    时间：
			  <input type="text" name="create_begin" id="time-start" class="input length_2" value="{:I('create_begin')}" style="width:80px;" autocomplete="off" placeholder="起始时间">
			  -
			  <span class="input-append date" id="datetimepicker"><input type="text" id="time-end" name="create_end" class="input input" value="{:I('create_end')}" placeholder="结束时间" /><span class="add-on" style="background:none;border:none;"><i class="icon-th"></i></span></span>
			  &nbsp<a class="u-btn" href="javascript:;" id="search" url="{:U('franchisee')}">确定</a>
	        <!-- <a href="javascript:;" class="u-btn" onclick="{:U('post/index',array('resetFiter'=>true))}">重置</a> -->
	        </span>
	      </div>
	    </div>
		<!-- 数据表格 -->
	    <div class="table_list">
			<table class="" width="100%">
		    <thead>
		        <tr>
					<if condition="!$is_franchisee">
						<th width="5%"><input class="check-all" type="checkbox"/></th>
					</if>
					<th>订单id</th>
					<th>收货信息</th>

					<th>订单总金额</th>
					<th>支付方式</th>
					<th>交易手续费</th>
					<th>实收金额</th>
					<th>操作</th>
				</tr>
		    </thead>
		    <tbody>
				<volist name="list" id="vo">

				<tr>
					<if condition="!$is_franchisee">
						<td>
							<if condition="$vo.status == 0">
								<input class="ids" actual_sum="{$vo.extra.actual_sum|format_price}" type="checkbox" name="ids[]" value="{$vo.id}" />
							</if>
						</td>
					</if>
					<td>
						{$vo.order.id}
					</td>
					<td>
						<if condition="$vo['order']['receiving_type'] == 2">
							<p class="short_info">收货方式:自提</p>
							<p class="short_info">网点:{$vo.order.receiving_service_name}</p>
						</if>
						<if condition="$vo['order']['receiving_type'] == 1">
							<p class="short_info">收货方式:物流配送</p>
							<p class="short_info">收货地址:{$vo.order.receiving_address}</p>
							<p class="short_info">收货人:{$vo.order.receiving_name}</p>
							<p class="short_info">联系电话:{$vo.order.receiving_tel}</p>
						</if>
					</td>
					<td>
						{$vo.sum|format_price}
					</td>
					<td>
						{$vo.order.pay_type_desc}
					</td>
					<td>
						{$vo.extra.fee|format_price}
					</td>

					<td>
						{$vo.extra.actual_sum|format_price}
					</td>
					<td>
						<if condition="$vo.status == 0">
							<if condition="!$is_franchisee">
								<a  class="u-btn confirm J_ajax_get" href="{:U('close_account')}/id/{$vo.id}">结算</a>
								<else/>
								未结算
							</if>
						</if>
						<if condition="$vo.status == 1">
							已结算
						</if>
					</td>

				</tr>
				</volist>
			</tbody>
		    </table> 
		</div>
		<div class="btn_wrap">
			<div class="btn_wrap_pd">
				<!--<a class="btn btn_small J_ajax_get" href="{:U('Index/setKey',array('cid'=>$_GET['menuId'],'title'=>$meta_title))}"><i class="fa fa-heart"></i></a>-->
				<if condition="!$is_franchisee">
					<button  class="btn J_ajax_post confirm" target-form="ids" url='{:U("close_account")}'>批量结算<span class="all_account">(0)</span></button>

				</if>
				<a href="javascript:;">总计已结算订单总金额:{$total_order_sum|format_price}元</a>
				<a href="javascript:;">总计已结算实收总金额:{$total_actual_sum|format_price}元</a>
				<a href="javascript:;">总计已结算订单数:{$total_order_num}</a>
				<a href="javascript:;">总计起止时间:{$create_begin} 至 {$create_end}</a>
		    </div>
		</div>
		<!-- 分页 -->
	    <div class="page">
	        {$page_html}
	    </div>
	</div>
</div>

</block>
<block name="script">
<link href="__STATIC__/datetimepicker/css/datetimepicker.css" rel="stylesheet" type="text/css">
<php>if(C('COLOR_STYLE')=='blue_color') echo '<link href="__STATIC__/datetimepicker/css/datetimepicker_blue.css" rel="stylesheet" type="text/css">';</php>
<link href="__STATIC__/datetimepicker/css/dropdown.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="__STATIC__/datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript" src="__STATIC__/datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>
<script type="text/javascript">
$(function(){
	//搜索功能
	$("#search").click(function(){
		var url = $(this).attr('url');
        var query  = $('.search-form').find('input,select').serialize();
        query = query.replace(/(&|^)(\w*?\d*?\-*?_*?)*?=?((?=&)|(?=$))/g,'');
        query = query.replace(/^&/g,'');


        if( url.indexOf('?')>0 ){
            url += '&' + query;
        }else{
            url += '?' + query;
        }
		window.location.href = url;
	});

	/* 状态搜索子菜单 */
	$(".search-form").find(".drop-down").hover(function(){
		$("#sub-sch-menu").removeClass("hidden");
	},function(){
		$("#sub-sch-menu").addClass("hidden");
	});
	$("#sub-sch-menu li").find("a").each(function(){
		$(this).click(function(){
			var text = $(this).text();
			$("#sch-sort-txt").text(text).attr("data",$(this).attr("value"));
			$("#sub-sch-menu").addClass("hidden");
		})
	});

    //回车自动提交
    $('.search-form').find('input').keyup(function(event){
        if(event.keyCode===13){
            $("#search").click();
        }
    });

    $('#time-start').datetimepicker({
        format: 'yyyy-mm-dd',
        language:"zh-CN",
	    minView:2,
	    autoclose:true
    });

    $('#datetimepicker').datetimepicker({
       format: 'yyyy-mm-dd',
        language:"zh-CN",
        minView:2,
        autoclose:true,
        pickerPosition:'bottom-left'
    });

	$('.ids').change(function(){
		var actual_sum = 0;
		$('.ids:checked').each(function(index,ele){
			actual_sum += parseFloat($(ele).attr('actual_sum'));
		});
		$('.all_account').html('('+actual_sum+')');
	})

});

</script>
</block>


