<extend name="Public/base"/>
<block name="body">
	<div class="g-wrap">
		<div class="u-tab">
		    <ul class="cc">
		      <li class="current"><a href="javasctipt:;">分类管理 </a></li>
		      <li><a href="{:U('add')}">添加分类 </a></li>
		    </ul>
		</div>
        <div class="common-form">
            <div class="table_list u-table-left j-hidden-level">
                <table width="100%">
                <thead>
                  <tr>
                    <th width="80">级别</th>
                    <th width="80">排序</th>
                    <th width="100">ID</th>
                    <th>分类名称</th>
                    <th>操作</th>
                  </tr>
                </thead>
                <tbody>
                <volist name="category" id="cat">

                    <tr>
                        <td>一级分类</td>
                        <td width="80">{$cat.content.sort}</td>
                        <td width="100">{$cat.content.id}</td>
                        <td>{$cat.content.name}</td>
                        <td>
                            <a href="{:U('add')}/pid/{$cat['content']['id']}">添加子分类</a> |
                            <a href="{:U('edit')}/id/{$cat['content']['id']}">修改</a> |
                            <a class="confirm J_ajax_get" href="{:U('del')}/id/{$cat['content']['id']}">删除</a>
                            <a class="btn set_property show_box" tmp_id="set_property" cid="{$cat['content']['id']}">设置属性</a>
                        </td>
                    </tr>

                    <if condition="isset($cat['child']) && $cat['child']">
                        <volist name="cat['child']" id="_cat">
                            <tr style="background: #eee">
                                <td>二级分类</td>
                                <td width="80">{$_cat.content.sort}</td>
                                <td width="100">{$_cat.content.id}</td>
                                <td>{$_cat.content.name}</td>
                                <td>
                                    <a href="{:U('add')}/pid/{$_cat['content']['id']}">添加子分类</a> |
                                    <a href="{:U('edit')}/id/{$_cat['content']['id']}">修改</a> |
                                    <a class="confirm J_ajax_get" href="{:U('del')}/id/{$_cat['content']['id']}">删除</a>
                                    <a class="btn set_property show_box" tmp_id="set_property" cid="{$_cat['content']['id']}">设置属性</a>
                                    <div class="property" style="display: none"></div>
                                </td>
                            </tr>

                            <if condition="isset($_cat['child']) && $_cat['child']">
                                <volist name="_cat['child']" id="__cat">
                                    <tr style="background: #ccc">
                                        <td>三级分类</td>
                                        <td width="80">{$__cat.content.sort}</td>
                                        <td width="100">{$__cat.content.id}</td>
                                        <td>{$__cat.content.name}</td>
                                        <td>
                                            <a href="{:U('add')}/pid/{$__cat['content']['id']}">添加子分类</a> |
                                            <a href="{:U('edit')}/id/{$__cat['content']['id']}">修改</a> |
                                            <a class="confirm J_ajax_get" href="{:U('del')}/id/{$__cat['content']['id']}">删除</a>
                                            <a class="btn set_property show_box" tmp_id="set_property" cid="{$__cat['content']['id']}">设置属性</a>
                                        </td>
                                    </tr>
                                </volist>
                            </if>

                        </volist>
                    </if>
                </volist>

                </tbody>
                </table>
                <div class="btn_wrap">
                  <div class="btn_wrap_pd">
                  	<a class="btn btn_small J_ajax_get" href="{:U('Index/setKey',array('cid'=>$_GET['menuId']))}?title={$meta_title}"><i class="fa fa-heart"></i></a>
                  </div>
                </div>
            </div>

        </div>
	</div>

    <div id="set_property" class="show_box_temp" style="display:none;position: fixed;width: 500;left: 50%;top:30%;z-index: 1000;background: #ddd;border: 1px solid #000000;padding: 10px">
        <p style="padding: 10px;font-size: 20px" class="title">设置属性</p>
        <input type="hidden" value="0" class="input-medium cid"/>
        <input type="hidden" value="0" class="input-medium property_id"/>
        <p style="padding: 10px">
            已有属性:<div class="cur_property"></div>
        </p>
        <p style="padding: 10px">
            添加属性:<input value="" class="input add_property"/><a class="u-btn search" url="{:U('AntProperty/search')}">查询</a>

            <a class="u-btn submit" url="{:U('AntProperty/add_cid_property')}" href="javascript:;">确定</a></p>
        <style>
            .select_list{
                padding-left: 70px;
                margin-top: -20px;
            }
            .select_list li {
                padding: 2px;
                cursor: pointer;
            }
            .select_list li:hover{
                background: #eee;
            }
        </style>
        <p style="padding: 10px">
        <ul class="select_list">
            <li class="select_name" style="display: none"></li>
        </ul>
        </p>
        <p style="padding: 10px">
            <a class="u-btn	close_show_box" href="javascript:;">关闭</a>
        </p>
    </div>

</block>

<block name="script">
	<script type="text/javascript">
		(function($){
	      var $level = $(".j-hidden-level table").find("tbody tr");
	      $level.each(function(){
	          var $this_level = $(this).attr('data-parentid');
	          if($this_level=='0'){
	              $(this).show();
	          }
	          if($(this).next('tr').attr('data-parentid')>$this_level){
	            $(this).find('td:eq(2)').append("&nbsp;&nbsp;<i class='fa fa-caret-right'></i>");
	          }
	          if($(this).next('tr').attr('data-parentid')>0){
	             $(this).addClass('hand');
	             $(this).click(function(){
	                var $i = $(this).find('i');
	                $i.toggleClass('fa-caret-right');
	                $i.toggleClass('fa-caret-down');
	                $(this).nextAll('tr[data-parentid='+$(this).attr('data-id')+']').toggle();
	             })
	          }
	      });
		})(jQuery);


        $(document).ready(function(){
            $(document).on('click', '.show_box', function () {
                //console.log($(this).attr('data'));
                $('.show_box_temp').hide();

                var id = $(this).attr('tmp_id');
                $('#'+id).show();
                after_show_box($(this), $('#'+id));
            });
            $('.close_show_box').on('click',function () {
                $(this).parents('.show_box_temp').hide();
            });

            $('#set_property').find('.submit').on('click',function () {
                var url = $(this).attr('url');
                var data = {
                    cid:$('#set_property').find('.cid').val(),
                    property_name:$('#set_property').find('.add_property').val()
                }
                do_post(url, data, this, function (data) {
                    if (!data.success) {
                        alert(data.message);
                    } else {
                        location.reload();
                    }
                });
            });

            $('#set_property').find('.search').on('click',function () {
                var url = $(this).attr('url');
                var data = {
                    property_name:$('#set_property').find('.add_property').val()
                }
                do_post(url, data, this, function(data){
                    if (data) {
                        var list = '';
                        for(var i in data) {
                            list += '<li class="select_name" id="'+data[i].id+'">'+data[i].name+'</li>';
                        }

                        $('#set_property').find('.select_list').html(list);
                    } else {
                        $('#set_property').find('.select_list').html('');
                    }
                });
            });

            $('#set_property').on('click','.select_name', function(){

                var name = $(this).html();
                var id = $(this).attr('id');
                $('#set_property').find('.add_property').val(name);
                $('#set_property').find('.property_id').val(id);


            });


            function do_post(url, query, that, callback) {

                $.post(url,query).success(function(data){
                    if (callback) {
                        callback(data);
                        return;
                    }
                    if (data.status==1) {
                        if (data.url) {
                            updateAlert(data.info + ' 页面即将自动跳转~','alert-success');
                        }else{
                            updateAlert(data.info ,'alert-success');
                        }
                        setTimeout(function(){
                            if (data.url) {
                                location.href=data.url;
                            }else if( $(that).hasClass('no-refresh')){
                                $('#top-alert').find('button').click();
                                $(that).removeClass('disabled').prop('disabled',false);
                            }else{
                                location.reload();
                            }
                        },200);
                    }else{
                        updateAlert(data.info);
                        setTimeout(function(){
                            if (data.url) {
                                location.href=data.url;
                            }else{
                                $('#top-alert').find('button').click();
                                $(that).removeClass('disabled').prop('disabled',false);
                            }
                        },200);
                    }
                });

            }

            function after_show_box(_this, box) {
                var cid = _this.attr('cid');
                var cur_properties = '';
                do_post('{:U("AntProperty/get_cat_property")}',{'cid':cid},this, function(data){
                   for(var i in data){
                       var  ele = data[i];
                        cur_properties += '<div style="float: left;padding: 2px">'+ele.p_name+'<span style="padding: 3px;cursor: pointer;background: red;color: #fff" pid="'+ele.pid+'" cid="'+cid+'" class="del_property">X</span></div>';
                    };
                    cur_properties += '<div style="clear: both"></div>';
                    box.find('.cur_property').html(cur_properties);

                });

                //console.log(cid);
                box.find('.cid').val(cid);
            }

            $(document).on('click', '.del_property', function () {
                var cid = $(this).attr('cid');
                var pid = $(this).attr('pid');
                var that = $(this);
                do_post('{:U("AntProperty/del_cat_property")}',{'cid':cid,'pid':pid},this, function(data){
                   if (data.success){
                       that.parent().remove();
                   } else {
                       alert(data.message);
                   }

                });

            });


        })


	</script>
</block>
