<extend name="Public/base"/>

<block name="body">
	<div class="g-wrap">
		<!-- 按钮工具栏 -->
		<div class="u-tab">
		    <ul class="cc tab-nav">
				<li class="current"><a href="javascript:;">{$title}</a></li>
			</ul>
		</div>
		<!-- 数据表格 -->
		<div class="tab-content table_list">
		<!-- 表单 -->
		<form id="form" action="{:U('submit_monthly')}/id/{$info.id}" method="post" class="form-horizontal">
			<div id="tab">
				<table class="biaoge">
					<tbody>
					<tr>
						<td colspan="4"><span class="title">慈溪市财险业务快报</span><span> (单位 万元)</span></td>

					</tr>
					<tr>
						<td colspan="4">
							填报机构:
							<select name="all_name" class="all_name">
								<php>
									$list = $departments;
									$cur = I('all_name') ? I('all_name') : '';
									foreach($list as $li){
									$selected = ($li == $cur) ? 'selected' : '';
									echo '<option value="'.$li.'" '.$selected.'>'.$li.'</option>';
									}
								</php>
							</select>
							<input type="hidden" class="input input-medium" name="filler_man" value="{:session('user_auth.username')}">
							&nbsp;&nbsp;&nbsp;&nbsp;时间:
							<select name="year" class="year change_time">
								<php>
									$years = [2016,2017];
									$cur_year = I('year') ? I('year') : intval(date('Y'));
									foreach($years as $year){
									$selected = ($year == $cur_year) ? 'selected' : '';
									echo '<option value="'.$year.'" '.$selected.'>'.$year.'</option>';
									}
								</php>
							</select>年
							<select name="month" class="month change_time">
								<php>
									$months = [1,2,3,4,5,6,7,8,9,10,11,12];
									$cur_month = I('month') ? I('month') : intval(date('m'));
									foreach($months as $month){
									$selected = ($month == $cur_month) ? 'selected' : '';
									echo '<option value="'.$month.'" '.$selected.'>'.$month.'</option>';
									}
								</php>
							</select>月
							<script>
								$(document).ready(function(){
									$('.change_time').change(function(){
										var year = $('.year').val();
										var month = $('.month').val();
										var all_name = $('.all_name').val();
										location.href= "{:U('')}/year/"+year+"/month/"+month+"/all_name/"+all_name;
									})
									$('.all_name').change(function(){
										var year = $('.year').val();
										var month = $('.month').val();
										var all_name = $('.all_name').val();
										location.href= "{:U('')}/year/"+year+"/month/"+month+"/all_name/"+all_name;
									})
								})
							</script>
						</td>
						<td colspan="5" style="display: none">
							<input type="text" class="input input-medium" name="filler_man" value="{:session('user_auth.username')}">
						</td>
					</tr>

					<tr>
						<td rowspan="4">保费</td>
						<td colspan="2">
							保费收入:
						</td>
						<td>
							<input type="text" class="input input-medium" name="income" value="{$info.income}">
						</td>
					</tr>

					<tr>
						<td rowspan="3">
							其中
						</td>
						<td>
							企业财产险:
						</td>
						<td>
							<input type="text" class="input input-medium" name="income_a" value="{$info.income_a}">
						</td>
					</tr>
					<tr>
						<td>
							机动车辆险:
						</td>
						<td>
							<input type="text" class="input input-medium" name="income_b" value="{$info.income_b}">
						</td>
					</tr>
					<tr>
						<td>
							其他险:
						</td>
						<td>
							<input type="text" class="input input-medium" name="income_c" value="{$info.income_c}">
						</td>
					</tr>

					<tr>
						<td colspan="3">储金金额:</td>
						<td>
							<input type="text" class="input input-medium" name="reserves" value="{$info.reserves}">
						</td>
					</tr>


					<tr>
						<td rowspan="4">赔付</td>
						<td colspan="2">
							赔款支出:
						</td>
						<td>
							<input type="text" class="input input-medium" name="payoff" value="{$info.payoff}">
						</td>
					</tr>

					<tr>
						<td rowspan="3">
							其中
						</td>
						<td>
							企业财产险:
						</td>
						<td>
							<input type="text" class="input input-medium" name="payoff_a" value="{$info.payoff_a}">
						</td>
					</tr>

					<tr>
						<td>
							机动车辆险:
						</td>
						<td>
							<input type="text" class="input input-medium" name="payoff_b" value="{$info.payoff_b}">
						</td>
					</tr>

					<tr>
						<td>
							其他险:
						</td>
						<td>
							<input type="text" class="input input-medium" name="payoff_c" value="{$info.payoff_c}">
						</td>
					</tr>



					<tr>
						<td rowspan="2">营销员人数</td>
						<td colspan="2">
							期末在岗人数:
						</td>
						<td>
							<input type="text" class="input input-medium" name="staff" value="{$info.staff}">
						</td>
					</tr>

					<tr>
						<td colspan="2">
							期末持证人数:
						</td>
						<td>
							<input type="text" class="input input-medium" name="authorized" value="{$info.authorized}">
						</td>
					</tr>
					</tbody>
				</table>
			</div>






			<div class="btn_wrap">
	          <div class="btn_wrap_pd">
				  <if condition="$can_submit == 1">
					  <button class="btn submit-btn J_ajax_post" id="submit" type="submit" target-form="form-horizontal">提交</button>
				  </if>
				  <if condition="$verify_status == 1">
					  已提交审核
				  </if>
				  <if condition="$verify_status == 2">
					  审核通过
				  </if>
	          </div>
	        </div>
	    </form>
	    </div>
	</div>
</div>

</block>