<extend name="Public/base"/>

<block name="body">
	<div class="g-wrap">
		<!-- 按钮工具栏 -->
		<div class="u-tab">
			<ul class="cc tab-nav">
				<li class="current"><a href="javascript:;">{$title}</a></li>
			</ul>
		</div>
		<!-- 数据表格 -->
		<div class="tab-content table_list">
			<!-- 表单 -->
			<form id="form" action="{:U('submit_monthly')}/id/{$info.id}" method="post" class="form-horizontal">
				<div id="tab">
					<table class="biaoge">
						<tbody>
						<tr>
							<td colspan="4"><span class="title">慈溪市股权投资管理机构填报表</span><span> (金额单位 万元)</span></td>

						</tr>
						<tr>
							<td colspan="3">公司全称:</td>
							<td>
								<if condition="$can_all_edit">
									<select name="all_name" class="all_name">
										<php>
											$list = $departments;
											$cur = I('all_name') ? I('all_name') : '';
											foreach($list as $li){
											$selected = ($li == $cur) ? 'selected' : '';
											echo '<option value="'.$li.'" '.$selected.'>'.$li.'</option>';
											}
										</php>
									</select>
									<else/>
									<input type="hidden" value="{$all_name}" name="all_name"/>
									{$all_name}
								</if>

							</td>
							<td colspan="5" style="display: none">
								<input type="text" class="input input-medium" name="filler_man" value="{:session('user_auth.username')}">
							</td>
						</tr>

						<tr>
							<td colspan="3">项目</td>
							<td>

								<if condition="$info['year']">
									&nbsp;{$info.year}年{$info.month}月
									<input type="hidden" value="{$info.year}" name="year"/>
									<input type="hidden" value="{$info.month}" name="month"/>
									<else/>
									<select name="year" class="year change_time" >
										<php>
											$years = [2016,2017];
											$cur_year = I('year') ? I('year') : intval(date('Y'));
											foreach($years as $year){
											$selected = ($year == $cur_year) ? 'selected' : '';
											echo '<option value="'.$year.'" '.$selected.'>'.$year.'</option>';
											}
										</php>
									</select>年
									<select name="month" class="month change_time">
										<php>
											$months = [1,2,3,4,5,6,7,8,9,10,11,12];
											$cur_month = I('month') ? I('month') : intval(date('m'));
											foreach($months as $month){
											$selected = ($month == $cur_month) ? 'selected' : '';
											echo '<option value="'.$month.'" '.$selected.'>'.$month.'</option>';
											}
										</php>
									</select>月

								</if>
							</td>
						</tr>

						<tr>
							<td colspan="3">管理资金规模:</td>
							<td>
								<input type="text" class="input input-medium" name="Amount" value="{$info.Amount}">
							</td>
						</tr>

						<tr>
							<td colspan="3">管理的机构数:</td>
							<td>
								<input type="text" class="input input-medium" name="Projects" value="{$info.Projects}">
							</td>
						</tr>

						<tr>
							<td rowspan="3">各类税费:</td>
							<td colspan="2">营业税:</td>
							<td>
								<input type="text" class="input input-medium" name="Tax_B" value="{$info.Tax_B}">
							</td>
						</tr>
						<tr>
							<td colspan="2">所得税:</td>
							<td>
								<input type="text" class="input input-medium" name="Tax_I" value="{$info.Tax_I}">
							</td>
						</tr>
						<tr>
							<td colspan="2">其他税费:</td>
							<td>
								<input type="text" class="input input-medium" name="Tax_O" value="{$info.Tax_O}">
							</td>
						</tr>

						<tr>
							<td rowspan="10">从业人员数量:</td>
							<td rowspan="2">按性别:</td>
							<td>男性:</td>
							<td>
								<input type="text" class="input input-medium" name="Staff_Sub[]" value="{$info['Staff_Sub'][0]}">
							</td>
						</tr>


						<tr>
							<td>女性:</td>
							<td>
								<input type="text" class="input input-medium" name="Staff_Sub[]" value="{$info['Staff_Sub'][1]}">
							</td>
						</tr>


						<tr>
							<td rowspan="4">按学历:</td>
							<td>大专及大专以下:</td>
							<td>
								<input type="text" class="input input-medium" name="Staff_Sub[]" value="{$info['Staff_Sub'][2]}">
							</td>
						</tr>

						<tr>
							<td>本科:</td>
							<td>
								<input type="text" class="input input-medium" name="Staff_Sub[]" value="{$info['Staff_Sub'][3]}">
							</td>
						</tr>
						<tr>
							<td>硕士研究生:</td>
							<td>
								<input type="text" class="input input-medium" name="Staff_Sub[]" value="{$info['Staff_Sub'][4]}">
							</td>
						</tr>
						<tr>
							<td>博士及博士以上:</td>
							<td>
								<input type="text" class="input input-medium" name="Staff_Sub[]" value="{$info['Staff_Sub'][5]}">
							</td>
						</tr>
						<tr>
							<td colspan="2">管理人员:</td>
							<td>
								<input type="text" class="input input-medium" name="Staff_Sub[]" value="{$info['Staff_Sub'][6]}">
							</td>
						</tr>
						<tr>
							<td colspan="2">劳务派遣制员工:</td>
							<td>
								<input type="text" class="input input-medium" name="Staff_Sub[]" value="{$info['Staff_Sub'][7]}">
							</td>
						</tr>
						<tr>
							<td colspan="2">持有国内高端从业资格证书的人员:</td>
							<td>
								<input type="text" class="input input-medium" name="Staff_Sub[]" value="{$info['Staff_Sub'][8]}">
							</td>
						</tr>

						<tr>
							<td colspan="2">持有国外高端从业资格证书的人员:</td>
							<td>
								<input type="text" class="input input-medium" name="Staff_Sub[]" value="{$info['Staff_Sub'][9]}">
							</td>
						</tr>
						</tbody>
					</table>
				</div>






				<div class="btn_wrap">
					<div class="btn_wrap_pd">
						<button class="btn submit-btn J_ajax_post" id="submit" type="submit" target-form="form-horizontal">保存</button>
						<input name="submit_verify" type="checkbox" value="2"/>提交
					</div>
				</div>
			</form>
		</div>
	</div>
	</div>

</block>