<extend name="Public/base"/>

<block name="body">
<script type="text/javascript" src="__STATIC__/uploadify/jquery.uploadify.min.js"></script>
	<!--百度webuploader-->
	<link rel="stylesheet" type="text/css" href="__STATIC__/webuploader/webuploader.css">
	<script type="text/javascript" src="__STATIC__/webuploader/webuploader.min.js"></script>

	<script type="text/javascript" src="__STATIC__/popwin.js"></script>
<style type="text/css">#dialog{display:none;}</style>
	<div class="g-wrap">
		<!-- 按钮工具栏 -->
		<div class="u-tab">
		    <ul class="cc tab-nav">
				<li><a href="{:U('index')}">所有广告</a></li>
				<if condition="I('get.id')">
					<li class="current"><a href="javascript:;">编辑广告</a></li>
					<else/>
					<li class="current"><a href="javascript:;">添加广告</a></li>
				</if>
		    </ul>
		</div>
		<!-- 数据表格 -->
		<div class="tab-content table_list">
		<!-- 表单 -->
		<form id="form" action="{:U('update')}/id/{:I('get.id')}" method="post" class="form-horizontal">
				<div id="tab">
					<table class="" width="100%">
				    <tbody>
					<tr>
						<td width="20%">首页轮播图片规格:800*400像素</td>
						<td width="80%"></td>
					</tr>
					<tr>

						<td width="20%"><label class="item-label">类型</label></td>
						<td width="80%">
							<php>
								$first = ($info['type']=='1')?'selected':'';
								$second = ($info['type']=='2')?'selected':'';
							</php>
							<select class="select_2 select" id="sch-sort-txt" name="type">
								<option value="1" {$first}>单图</option>
								<option value="2" {$second}>多图</option>
							</select>

						</td>
					</tr>
							<tr>
					            <td width="20%"><label class="item-label">name</label></td>
					            <td width="80%">
									<input type="text" class="input input-medium" name="name" value="{$info.name}">
								</td>
							</tr>
							<tr>
								<td width="20%"><label class="item-label">描述</label></td>
								<td width="80%">
			                                <input type="text" class="input input-xlarge" name="info" value="{$info.info}">
								</td>
							</tr>

							<tr style="display: none">
								<td width="20%"><label class="item-label">width</label></td>
								<td width="80%">
									<input type="text" class="input input-medium" name="width" value="{$info.width}">
								</td>
							</tr>
							<tr  style="display: none">
								<td width="20%"><label class="item-label">height</label></td>
								<td width="80%">
									<input type="text" class="input input-medium" name="height" value="{$info.height}">
								</td>
							</tr>

							<tr>
								<td width="20%"><label class="item-label">链接</label></td>
								<td width="80%">
									<input type="text" class="input input-medium" name="link" value="{$info.link}">
								</td>
							</tr>
							<tr>
								<td width="20%"><label class="item-label">图片</label></td>
								<td width="80%">
									<div class="controls">
										<div id="filePicker">选择图片</div>
										<div class="upload-img-box">
											<div class="upload-pre-item image-gallery">
												<fieldset>
													<legend>图片列表</legend>
													<?php if(!$info['imgs']):?>
													<ul class="imagelist" id="image_result"></ul>
													<?php else:?>
													<?php $images = explode(',', $info['imgs']);?>
													<ul class="imagelist" id="image_result">
														<volist name="images" id="vo"  key="k">
															<li class="imageitem" id="gallery_{$k}">
																<input type="hidden" name="imgs[]" value="{$vo}">
																<img height="160" width="160" src="{$vo|get_cover}" />
																<a title="删除" href="javascript:remove({$k});"><i class="fa fa-times-circle"></i></a>
															</li>
														</volist>
													</ul>
													<?php endif?>
												</fieldset>
												<div style="clear:both;"></div>
											</div>
										</div>
									</div>
									<script type="text/javascript">
										//上传图片
										/* 初始化上传插件 */
//										$("#upload_picture_1").uploadify({
//											"height"          : 30,
//											"swf"             : "__STATIC__/uploadify/uploadify.swf",
//											"fileObjName"     : "download",
//											"buttonText"      : "上传图片",
//											"uploader"        : "{:U('Admin/File/uploadPicture',array('session_id'=>session_id()))}",
//											"width"           : 120,
//											'removeTimeout'	  : 1,
//											'fileTypeExts'	  : '*.jpg; *.png; *.gif;',
//											"onUploadSuccess" : uploadPicture1,
//										'onFallback' : function() {
//											alert('未检测到兼容版本的Flash.');
//										}
//										});
										var uploader = WebUploader.create({

											// 选完文件后，是否自动上传。
											auto: true,

											// swf文件路径
											swf: '__STATIC__/webuploader/Uploader.swf',

											// 文件接收服务端。
											server: "{:U('File/uploadPicture',array('session_id'=>session_id()))}",

											// 选择文件的按钮。可选。
											// 内部根据当前运行是创建，可能是input元素，也可能是flash.
											pick: '#filePicker',
											fileVal: 'download',
											duplicate: true,
											// 只允许选择图片文件。
											accept: {
												title: 'Images',
												extensions: 'gif,jpg,jpeg,bmp,png',
												mimeTypes: 'image/*'
											}
										});
										uploader.on( 'uploadSuccess', function(file, response) {
											uploadPicture1(file, response);
										});
										function uploadPicture1(file, data){
											//var data = $.parseJSON(data);
//											var data = window["eval"]("(" + data + ")");
											if(data.status){
												var src = data.url || '__ROOT__'+data.path;
												var html = '<li class="imageitem" id="gallery_'+data.id+'">';
												html+= '<input type="hidden" name="imgs[]" value="'+data.path+'">'; //隐藏域，是为了把图片地址入库。。
												html+= '<img height="160" width="160" src="'+src+'" />';

												html+=  '<a title="删除" href="javascript:remove('+data.id+')" class="J_ajax_get confirm"><i class="fa fa-times-circle"></i></a>';
												html+=  '</li>';
												$('#image_result').append(html);
											} else {
												updateAlert(data.info);
												setTimeout(function(){
													$('#top-alert').find('button').click();
												},1500);
											}
										}
										function remove(id){
											var item = $('#gallery_'+id);
											item.remove();
										}
									</script>
								</td>
							</tr>
					</tbody>
				    </table> 
			     </div>

			<div class="btn_wrap">
	          <div class="btn_wrap_pd">
	            	<button class="btn submit-btn J_ajax_post" id="submit" type="submit" target-form="form-horizontal">确 定</button>
				  <button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
	          </div>
	        </div>
	    </form>
	    </div>
	</div>
</div>

</block>
<block name="script">
<link href="__STATIC__/datetimepicker/css/datetimepicker.css" rel="stylesheet" type="text/css">
<php>if(C('COLOR_STYLE')=='blue_color') echo '<link href="__STATIC__/datetimepicker/css/datetimepicker_blue.css" rel="stylesheet" type="text/css">';</php>
<link href="__STATIC__/datetimepicker/css/dropdown.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="__STATIC__/datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript" src="__STATIC__/datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>
<script type="text/javascript">
$('#submit').click(function(){
	$('#form').submit();
});
$(function(){
	$("#xgwz").on('click' , function(){
		popWin.showWin("1000","600","请勾选出相关文章","{:U('article/mydocument?showids=true')}");
	});
    $('.time').datetimepicker({
        format: 'yyyy-mm-dd hh:ii',
        language:"zh-CN",
        minView:2,
        autoclose:true
    });
    showTab();
});
</script>
</block>