<div style="{$item.style}" >
    <div style="float: left;padding: <php>echo $rate * 20;</php>px;background: #0CD400;color: #fff;border-radius: <php>echo $rate * 5;</php>px;">报名砍价</div>
    <div style="float: left;padding: <php>echo $rate * 20;</php>px;margin-left: <php>echo $rate * 20;</php>px;background: #0CD400;color: #fff;border-radius: <php>echo $rate * 5;</php>px;">喊人砍价</div>
    <div style="float: left;padding: <php>echo $rate * 20;</php>px;margin-left: <php>echo $rate * 20;</php>px;background: #0CD400;color: #fff;border-radius: <php>echo $rate * 5;</php>px;">帮他砍价</div>
    <div style="clear: both"></div>
</div>
<script>
    $(document).ready(function(){
//       $('.sign').click(function(){
//           var url = 'https://www.88plus.net/public/index.php/HomeManagerRecommend/Pages/sign?id={:I("id")}';
//           $.post(url,{}, function(res){
//               alert(res.info);
//                console.log(res);
//           })
//        })


    });
</script>
