<div style="width: <php>echo $rate * 710;</php>px;padding:  <php>echo $rate * 20;</php>px;{$item.style}" >

    <p style="float: left;">
        <span style="font-size: <php>echo $rate * 710;</php>px;color: #c67605">{$item.fight_group_price}元</span>
        <span>({$item.fight_group_number}人团)</span>
    </p>
    <div style="float:right;padding: <php>echo $rate * 20;</php>px;background: #0CD400;color: #fff;border-radius: <php>echo $rate * 5;</php>px;">开团</div>
    <div style="clear: both"></div>
</div>
