<!--<div style="{$item.style}" >-->
    <!--<div style="width: <php>echo $rate * 750;</php>px;">-->
        <!--<if condition="$item.vote_num_arr">-->
            <!--<volist id="vote_item" key="k" name="item.vote_num_arr">-->
                <!--<div style="position:relative;float:left;width: <php>echo $rate * 175;</php>px;margin-left: <php>echo $rate * 10;</php>px;margin-top: <php>echo $rate * 20;</php>px;">-->
                    <!--<img style="width: <php>echo $rate * 175;</php>px;height: <php>echo $rate * 175;</php>px;" src="{$vote_item.src}"/>-->
                    <!--<div style="position: absolute;top: 0;width: 100%;height:<php>echo $rate * 40;</php>px;background: rgba(255,255,255,0.7)"></div>-->
                    <!--<div style="position: absolute;top:0;left: 0;font-size: <php>echo $rate * 20;</php>px;">{$k}号</div>-->
                    <!--<div style="position: absolute;top:0;right: 0;font-size: <php>echo $rate * 20;</php>px;">{$vote_item.sign|intval}票</div>-->
                    <!--<div class="vote" vote_id="{$k-1}" style="margin:0 auto;width: <php>echo $rate * 80;</php>px;text-align:center;padding: <php>echo $rate * 5;</php>px;background: #0CD400;color: #fff;border-radius: <php>echo $rate * 3;</php>px;">投票</div>-->
                <!--</div>-->

            <!--</volist>-->
            <!--<else/>-->
            <!--<for start="0" end="$item.vote_num">-->
                <!--<div style="position:relative;float:left;width: <php>echo $rate * 175;</php>px;margin-left: <php>echo $rate * 10;</php>px;margin-top: <php>echo $rate * 20;</php>px;">-->
                    <!--<img style="width: <php>echo $rate * 175;</php>px;height: <php>echo $rate * 175;</php>px;" src=""/>-->
                    <!--<div style="position: absolute;top: 0;width: 100%;height:<php>echo $rate * 40;</php>px;background: rgba(255,255,255,0.7)"></div>-->
                    <!--<div style="position: absolute;top:0;left: 0;font-size: <php>echo $rate * 20;</php>px;">{$i+1}号</div>-->
                    <!--<div style="position: absolute;top:0;right: 0;font-size: <php>echo $rate * 20;</php>px;">0票</div>-->
                    <!--<div class="vote" vote_id="{$i}" style="margin:0 auto;width: <php>echo $rate * 80;</php>px;text-align:center;padding: <php>echo $rate * 5;</php>px;background: #0CD400;color: #fff;border-radius: <php>echo $rate * 3;</php>px;">投票</div>-->
                <!--</div>-->

            <!--</for>-->
        <!--</if>-->


    <!--</div>-->
    <!--<div style="clear: both"></div>-->
<!--</div>-->

<!--默认样式-->
<if condition="!$item.style_type">
<div style="$item.style" >

    <volist id="item" key="k" name="item.vote_num_arr">

    <div style="width: <php>echo $rate * 710;</php>px;margin:0 auto;position: relative;box-shadow: 0rpx <php>echo $rate * 2;</php>px 5px #999;margin-top: <php>echo $rate * 20;</php>px">
        <img style="width: <php>echo $rate * 710;</php>px;margin:0 auto;" src="{$item.src}"/>
        <div style="margin:0 auto;width: <php>echo $rate * 710;</php>px;">{$item.desc}</div>
        <div style="position: absolute;top: 0;width: 100%;height:<php>echo $rate * 40;</php>px;background: rgba(255,255,255,0.7)"></div>
        <div style="position: absolute;top:0;left: 0;font-size: <php>echo $rate * 24;</php>px;">1号</div>
        <div style="position: absolute;top:0;right: 0;font-size: <php>echo $rate * 24;</php>px;">0票</div>
        <div  style="margin:0 auto;width: <php>echo $rate * 710;</php>px;text-align:center;padding: <php>echo $rate * 20;</php>px 0;background: #0CD400;color: #fff;border-radius: <php>echo $rate * 3;</php>px;">投票</div>
    </div>
    </volist>
    <div style="width: <php>echo $rate * 710;</php>px;text-align:center;background: rgba(255,255,255,0.3);border:1px dashed #000;color: #000;height: <php>echo $rate * 60;</php>px;box-shadow: 0rpx <php>echo $rate * 2;</php>px 5px #999;line-height: <php>echo $rate * 60;</php>px;margin: <php>echo $rate * 20;</php>px auto">+增加投票项目</div>


    <div style="clear: both"></div>
</div>

</if>

<script>
    $(document).ready(function(){

       $('.vote').click(function(){
           var vote_id = $(this).attr('vote_id');
           var url = 'https://www.88plus.net/public/index.php/HomeManagerRecommend/Pages/vote?id={:I("id")}&vote_id='+vote_id;
           $.post(url,{}, function(res){
               alert(res.info);
                console.log(res);
           })
        })


    });
</script>
