<extend name="Public/base"/>

<block name="body">
<script type="text/javascript" src="__STATIC__/uploadify/jquery.uploadify.min.js"></script>
	<!--百度webuploader-->
	<link rel="stylesheet" type="text/css" href="__STATIC__/webuploader/webuploader.css">
	<script type="text/javascript" src="__STATIC__/webuploader/webuploader.min.js"></script>

	<script type="text/javascript" src="__STATIC__/popwin.js"></script>
<style type="text/css">#dialog{display:none;}</style>


	<style>

		#pic{position: absolute; top:0;left: 0;right:0;bottom: 0;margin: auto auto;width: 400px; height: 400px;}
	</style>


	<div class="g-wrap">
		<!-- 按钮工具栏 -->
		<div class="u-tab">
		    <ul class="cc tab-nav">
				<li><a href="{:U('index')}">所有产品</a></li>
				<if condition="I('get.id')">
					<li class="current"><a href="javascript:;">编辑产品</a></li>
					<else/>
					<li class="current"><a href="javascript:;">添加产品</a></li>
				</if>
		    </ul>
		</div>
		<!-- 数据表格 -->
		<div class="tab-content table_list">
		<!-- 表单 -->
		<form id="form" action="{:U('update')}/id/{:I('get.id')}" method="post" class="form-horizontal">
				<div id="tab">
					<table class="" width="100%">
				    <tbody>
							<tr>
					            <td width="20%"><label class="item-label">标题</label></td>
					            <td width="80%">
									<input type="text" class="input input-medium" name="title" value="{$product.title}">
								</td>
							</tr>
							<tr>
								<td width="20%"><label class="item-label">产品编码</label></td>
								<td width="80%">
									<input type="text" class="input input-medium" name="code" value="{$product.code}">
								</td>
							</tr>

							<input type="hidden" value="1" name="is_real"/>
							<tr>
								<td width="20%"><label class="item-label">描述</label></td>
								<td width="80%">
			                                <input type="text" class="input input-xlarge" name="desc" value="{$product.desc}">
								</td>
							</tr>

							<tr>
								<td width="20%"><label class="item-label">原价(元)</label></td>
								<td width="80%">
									<input type="text" class="input input-small" name="price" value="{$product.price|format_price}">
								</td>
							</tr>

							<tr>
								<td width="20%"><label class="item-label">单位</label></td>
								<td width="80%">
									<input type="text" class="input input-small" name="unit_desc" value="{$product.unit_desc}">
								</td>
							</tr>

							<tr>
								<td width="20%"><label class="item-label">主图(640*640)</label></td>
								<td width="80%">

									<div class="controls">
										<div id="filePicker">选择图片</div>
										<input type="hidden" value="{$product.img}" name="img" id="cover_id_1"/>
										<div class="upload-img-box">
											<notempty name="product['img']">
												<div class="upload-pre-item"><img class="pro_img" src="{$product['img']|get_cover}" width="125" height="75"/><a title="删除" href="javascript:;" onclick="delpic()"><i class="fa fa-times-circle u-close"></i></a></div>
											</notempty>
										</div>
									</div>
									<script type="text/javascript">
										//上传图片
										/* 初始化上传插件 */
//										$("#upload_picture_1").uploadify({
//											"height"          : 30,
//											"swf"             : "__STATIC__/uploadify/uploadify.swf",
//											"fileObjName"     : "download",
//											"buttonText"      : "上传图片",
//											"uploader"        : "{:U('File/uploadPicture',array('session_id'=>session_id()))}",
//											"width"           : 120,
//											'removeTimeout'	  : 1,
//											'fileTypeExts'	  : '*.jpg; *.png; *.gif;',
//											"onUploadSuccess" : uploadPicture1,
//										'onFallback' : function() {
//											alert('未检测到兼容版本的Flash.');
//										}
//										});
										var uploader = WebUploader.create({

											// 选完文件后，是否自动上传。
											auto: true,

											// swf文件路径
											swf: '__STATIC__/webuploader/Uploader.swf',

											// 文件接收服务端。
											server: "{:U('File/uploadPicture',array('session_id'=>session_id()))}",

											// 选择文件的按钮。可选。
											// 内部根据当前运行是创建，可能是input元素，也可能是flash.
											pick: '#filePicker',
											fileVal: 'download',
											duplicate: true,
											// 只允许选择图片文件。
											accept: {
												title: 'Images',
												extensions: 'gif,jpg,jpeg,bmp,png',
												mimeTypes: 'image/*'
											}
										});
										uploader.on( 'uploadSuccess', function(file, response) {
											uploadPicture1(file, response);
										});
										function delpic(){
											$("#cover_id_1").attr("value",'');
											$("#cover_id_1").parent().find('.upload-img-box').html('');
										}
										function uploadPicture1(file, data){
											/*var data = $.parseJSON(data);*/
											//var data = window["eval"]("(" + data + ")");
											var src = '';
											if(data.status){
												$("#cover_id_1").val(data.path);
												src = data.url || '__ROOT__' + data.path
												$("#cover_id_1").parent().find('.upload-img-box').html(
														'<div class="upload-pre-item j_1"><img class="pro_img" src="' + src + '" width="125" height="75"/><a title="删除" href="javascript:;" onclick="delpic()"><i class="fa fa-times-circle u-close"></i></a></div>'
												);
											} else {
												updateAlert(data.info);
												setTimeout(function(){
													$('#top-alert').find('button').click();
													$(that).removeClass('disabled').prop('disabled',false);
												},1500);
											}
										}
									</script>
								</td>
							</tr>


							<tr style="display: none">
								<td width="20%"><label class="item-label">供货商</label></td>
								<td width="80%">
									<select class="select_2 select" name="provider_id">
										{$providers}
									</select>
								</td>
							</tr>

							<tr>
								<td width="20%"><label class="item-label">分类</label></td>
								<td width="80%">
									<select class="select_2 select cat_select" name="cid">
										{$catetree}
									</select>
								</td>
							</tr>

							<tr>
								<td width="20%"><label class="item-label">平台</label></td>
								<td width="80%">
									<input name="platform[]" <if condition="$product.platform == 1 || $product.platform == 3">checked="checked"</if> type="checkbox" value="1"/>服务版
									<input name="platform[]"  <if condition="$product.platform == 2 || $product.platform == 3">checked="checked"</if> type="checkbox" value="2"/>零售版
								</td>
							</tr>

							<tr>
								<td width="20%"><label class="item-label">品牌</label></td>
								<td width="80%">
									<select class="select_2 select" name="brand_id">
										{$brand_options}
									</select>
								</td>
							</tr>

							<tr>
								<td width="20%"><label class="item-label">属性选择</label></td>
								<td class="properties" width="80%">

								</td>
							</tr>

							<tr>
								<td width="20%"><label class="item-label">sku</label></td>
								<td class="skus" width="80%">
									<table>
										<tr>
											<td>属性</td>
											<td>经销商价格</td>
											<td>普通会员价格</td>
											<td>库存</td>
											<td>编码</td>
										</tr>

											<if condition="$skus">

												<volist name="skus" id="sku">
													<tr>
														<td class="_prop_">{$sku.props}<input type="hidden" value="{$sku.prop_vals}" name="prop_vals[]"/></td>
														<td><input value="{$sku.dealer_price|format_price}" name="dealer_prices[]" type="text"/></td>
														<td><input value="{$sku.price|format_price}" name="normal_prices[]" type="text"/></td>
														<td><input value="{$sku.num}" name="stocks[]" type="text"/></td>
														<td><input value="{$sku.code}" name="codes[]" type="text"/></td>
														<td><input value="{$sku.id}" name="ids[]" type="hidden"/></td>
													</tr>
												</volist>
											<else/>
												<tr>
													<td>默认</td>
													<td><input name="dealer_prices[]" type="text"/></td>
													<td><input name="normal_prices[]" type="text"/></td>
													<td><input name="stocks[]" type="text"/></td>
													<td><input name="codes[]" type="text"/></td>
													<td><input value="{$sku.id}" name="ids[]" type="hidden"/></td>
												</tr>
											</if>


									</table>
								</td>
							</tr>


							<if condition="!I('get.id')">
								<tr style="display: none">
									<td width="20%"><label class="item-label">批号</label></td>
									<td width="80%">
										<input type="text" class="input input-medium" name="no" value="{$product_no}">
									</td>
								</tr>

								<tr style="display: none">
									<td width="20%"><label class="item-label">库存</label></td>
									<td width="80%">
										<input type="text" class="input input-small" name="sku_num" value="">
									</td>
								</tr>
							</if>

					</tbody>
				    </table> 
			     </div>

			<div class="btn_wrap">
	          <div class="btn_wrap_pd">
	            	<button class="btn submit-btn J_ajax_post" id="submit" type="submit" target-form="form-horizontal">确 定</button>
				  <button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
	          </div>
	        </div>
	    </form>
	    </div>
	</div>
</div>

</block>
<block name="script">
<link href="__STATIC__/datetimepicker/css/datetimepicker.css" rel="stylesheet" type="text/css">
<php>if(C('COLOR_STYLE')=='blue_color') echo '<link href="__STATIC__/datetimepicker/css/datetimepicker_blue.css" rel="stylesheet" type="text/css">';</php>
<link href="__STATIC__/datetimepicker/css/dropdown.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="__STATIC__/datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript" src="__STATIC__/datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>
<script type="text/javascript">
$('#submit').click(function(){
	$('#form').submit();
});
$(function(){
	$("#xgwz").on('click' , function(){
		popWin.showWin("1000","600","请勾选出相关文章","{:U('article/mydocument?showids=true')}");
	});
    $('.time').datetimepicker({
        format: 'yyyy-mm-dd hh:ii',
        language:"zh-CN",
        minView:2,
        autoclose:true
    });
    showTab();
});
	$(document).ready(function(){
		gain_p_values($('.cat_select').find("option:selected").val());
		$(document).on('change', '.cat_select', function(){
			var cid = $(this).find("option:selected").val();
			gain_p_values(cid);
			init_skus();
		});

		$(document).on('change', '.p_values', function(){
			var skus = gain_skus();
			var sku_html = '<tr>'+
					'<td>属性</td>'+
					'<td>经销商价格</td>'+
					'<td>普通会员价格</td>'+
					'<td>库存</td>'+
					'<td>编码</td>'+
					'</tr>';
			//console.log(skus);
			for(var i in skus) {
				var prop = '';
				var prop_vals = '';
				for(var j in skus[i]) {
					prop += '['+skus[i][j].name+']';
					prop_vals += skus[i][j].pid + '_' + skus[i][j].p_name + '_' + skus[i][j].id + '_' + skus[i][j].name + '|+|';

				}
				prop+= '<input type="hidden" value="'+prop_vals+'" name="prop_vals[]">';

				if (skus.length) {
					var has = 0;
					var cur_ele = null;
					$('._prop_').each(function (e,ele) {

						if ($(ele).html() == prop) {

							has = 1;
							cur_ele = ele;

						}
					});
					if (has) {
						$(cur_ele).parent('tr').find('input').each(function(e,ele){
							$(ele).attr('value',$(ele).val());
						})
						sku_html += '<tr>' + $(cur_ele).parent('tr').html() + '</tr>';
					} else {
						sku_html += '<tr>'+
								'<td class="_prop_">'+prop+'</td>'+
								'<td><input name="dealer_prices[]" type="text"/></td>'+
								'<td><input name="normal_prices[]" type="text"/></td>'+
								'<td><input name="stocks[]" type="text"/></td>'+
								'<td><input name="codes[]" type="text"/></td>'+
								'<td><input name="ids[]" type="hidden"/></td>'+
								'</tr>';
					}
				}



			}
			if (skus.length) {
				$('.skus').html(sku_html);

			} else {
				init_skus();

			}



		});

		$(document).on('mouseover','.pro_img',function(){
			console.log(123);
			$("body").append("<p id='pic'><img src='"+$(this).attr("src")+"' id='pic1'></p>");

		});
		$(document).on('mouseout','.pro_img',function(){
			$("#pic").remove();
		});
		
		function init_skus() {
			var sku_html = '<tr>'+
					'<td>属性</td>'+
					'<td>经销商价格</td>'+
					'<td>普通会员价格</td>'+
					'<td>库存</td>'+
					'<td>编码</td>'+
					'</tr>';
			sku_html += '<tr>'+
					'<td>默认</td>' +
					'<td><input name="dealer_prices[]" type="text"/></td>'+
					'<td><input name="normal_prices[]" type="text"/></td>'+
					'<td><input name="stocks[]" type="text"/></td>'+
					'<td><input name="codes[]" type="text"/></td>'+
					'<td><input name="ids[]" type="hidden"/></td>'+
					'</tr>'
			$('.skus').html(sku_html);
		}

	});
	
	function gain_p_values(cid) {
		//获取分类属性
		var url = '{:U("AntProperty/get_cat_property_values")}';
		var data = {cid:cid};
		var callback = function(data){
			var div = '';
			var li = '';
			for(var i in data) {
				li = '';
				for (var j in data[i].values) {
					var checked = '';
					var sku_properties_str = '{$sku_properties_str}';
					if (sku_properties_str && y_in_array(data[i].values[j].id, sku_properties_str.split(','))) {
						checked = 'checked=checked';
					} else {
						checked = '';
					}
					li += '<input '+checked+' pid="'+data[i].values[j].property_id+'" p_name="'+data[i].property+'" group="p'+i+'" class="p_values" type="checkbox" name="p'+j+'" value="'+data[i].values[j].id+'"/><span>'+data[i].values[j].name+'</span>';
				}
				div += '<div class="div_pp">'+data[i].property + ':' + li +'</div>';
			}

			$('.properties').html(div);
		}


		$.get(url, data, callback);

	}
	
	function gain_skus() {
		var values = {};

		$('.p_values:checked').each(function(i, e){
			var val = $(e).val();
			var name = $(e).next('span').text();
			var group = $(e).attr('group');
			var pid = $(e).attr('pid');
			var p_name = $(e).attr('p_name');
			if (!values[group]) {
				values[group] = [];
			}
			values[group].push({id:val, name:name, pid:pid, p_name:p_name});
		});
		var sku_temp = [];
		var is_first = 0;
		for(var i in values) {
			var sku_temp_new = [];
			for(var j in values[i]) {
				if (is_first > 0) {
					for (var k in sku_temp) {
						sku_temp_new.push(y_merage_arr(sku_temp[k],[values[i][j]]));
					}
				} else {
					sku_temp.push([values[i][j]]);
				}
			}
			if (sku_temp_new.length) {
				sku_temp = sku_temp_new;
			}
			is_first++;
		}
		return sku_temp;
	}


	
</script>
</block>