<extend name="Public/base"/>

<block name="body">
	<div class="g-wrap">
		<!-- 按钮工具栏 -->
		<div class="u-tab">
			<ul class="cc tab-nav">
				<li class="current"><a href="javascript:;">{$title}</a></li>
				<include file="Public/history_link"/>
			</ul>
		</div>
		<!-- 数据表格 -->
		<div class="tab-content table_list">
			<!-- 表单 -->
			<form id="form" action="{:U('submit_monthly')}/id/{$info.id}" method="post" class="form-horizontal">
				<div id="tab">
					<table class="biaoge">
						<tbody>
						<tr>
							<td colspan="4"><span class="title">农村保险互助社业务发展统计表</span><span> (金额单位 万元)</span></td>

						</tr>
						<tr>
							<td colspan="3">公司全称:</td>
							<td>
								<select name="all_name">
									<php>
										$list = $departments;
										$cur = $info['all_name'];
										foreach($list as $li){
										$selected = ($li == $cur) ? 'selected' : '';
										echo '<option value="'.$li.'" '.$selected.'>'.$li.'</option>';
										}
									</php>
								</select>

							</td>
							<td colspan="5" style="display: none">
								<input type="text" class="input input-medium" name="filler_man" value="{:session('user_auth.username')}">
							</td>
						</tr>

						<tr>
							<td colspan="3">项目</td>
							<td>

								{:date('Y')}年{:date('m')}月
							</td>
						</tr>

						<tr>
							<td rowspan="6" colspan="2">家庭财产保险</td>
							<td>
								承保件数:
							</td>
							<td>
								<input type="text" class="input input-medium" name="Life_A" value="{$info.Life_A}">
							</td>
						</tr>

						<tr>
							<td>
								承保户数:
							</td>
							<td>
								<input type="text" class="input input-medium" name="Life_B" value="{$info.Life_B}">
							</td>
						</tr>
						<tr>
							<td>
								保费:
							</td>
							<td>
								<input type="text" class="input input-medium" name="Life_C" value="{$info.Life_C}">
							</td>
						</tr>
						<tr>
							<td>
								保险金额:
							</td>
							<td>
								<input type="text" class="input input-medium" name="Life_D" value="{$info.Life_D}">
							</td>
							</tr>
						<tr>
							<td>
								赔付件数:
							</td>
							<td>
								<input type="text" class="input input-medium" name="Life_E" value="{$info.Life_E}">
							</td>
							</tr>
						<tr>
							<td>
								赔付金额:
							</td>
							<td>
								<input type="text" class="input input-medium" name="Life_F" value="{$info.Life_F}">
							</td>
						</tr>

						<tr>
							<td rowspan="6" colspan="2">意外险</td>
							<td>
								承保件数:
							</td>
							<td>
								<input type="text" class="input input-medium" name="Casualty_A" value="{$info.Casualty_A}">
							</td>
						</tr>

						<tr>
							<td>
								承保户数:
							</td>
							<td>
								<input type="text" class="input input-medium" name="Casualty_B" value="{$info.Casualty_B}">
							</td>
						</tr>
						<tr>
							<td>
								保费:
							</td>
							<td>
								<input type="text" class="input input-medium" name="Casualty_C" value="{$info.Casualty_C}">
							</td>
						</tr>
						<tr>
							<td>
								保险金额:
							</td>
							<td>
								<input type="text" class="input input-medium" name="Casualty_D" value="{$info.Casualty_D}">
							</td>
						</tr>
						<tr>
							<td>
								赔付件数:
							</td>
							<td>
								<input type="text" class="input input-medium" name="Casualty_E" value="{$info.Casualty_E}">
							</td>
						</tr>
						<tr>
							<td>
								赔付金额:
							</td>
							<td>
								<input type="text" class="input input-medium" name="Casualty_F" value="{$info.Casualty_F}">
							</td>
						</tr>

						<tr>
							<td rowspan="6" colspan="2">补充医疗互助保险</td>
							<td>
								承保件数:
							</td>
							<td>
								<input type="text" class="input input-medium" name="Medical_A" value="{$info.Medical_A}">
							</td>
						</tr>

						<tr>
							<td>
								承保户数:
							</td>
							<td>
								<input type="text" class="input input-medium" name="Medical_B" value="{$info.Medical_B}">
							</td>
						</tr>
						<tr>
							<td>
								保费:
							</td>
							<td>
								<input type="text" class="input input-medium" name="Medical_C" value="{$info.Medical_C}">
							</td>
						</tr>
						<tr>
							<td>
								保险金额:
							</td>
							<td>
								<input type="text" class="input input-medium" name="Medical_D" value="{$info.Medical_D}">
							</td>
						</tr>
						<tr>
							<td>
								赔付件数:
							</td>
							<td>
								<input type="text" class="input input-medium" name="Medical_E" value="{$info.Medical_E}">
							</td>
						</tr>
						<tr>
							<td>
								赔付金额:
							</td>
							<td>
								<input type="text" class="input input-medium" name="Medical_F" value="{$info.Medical_F}">
							</td>
						</tr>

						</tbody>
					</table>
				</div>






				<div class="btn_wrap">
					<div class="btn_wrap_pd">
						<if condition="$info['id']">已提交</if><button class="btn submit-btn J_ajax_post" id="submit" type="submit" target-form="form-horizontal"><if condition="$info['id']">修 改<else/>提 交</if></button>
					</div>
				</div>
			</form>
		</div>
	</div>
	</div>

</block>