<extend name="Public/base"/>
<block name="body">
	<div class="g-wrap">
		<!-- 按钮工具栏 -->
		<div class="u-tab">

		    <ul class="cc">
				<if condition="$is_all">
					<li class="current"><a href="javascript:;">所有单位数据</a></li>
					<else/>
					<li class="current"><a href="javascript:;">本单位数据</a></li>
				</if>
				<if condition="$can_edit">
					<li ><a href="{:U('submit_monthly')}">新增月报填报</a></li>
				</if>

		    </ul>
		</div>
	    <div class="search_type cc mb10 search-form">
	      <div class="mb10">
			  <!--&nbsp;公司全称：-->
			  <!--<input type="text" class="input length_2" name="all_name" style="width:100px;" value="{:I('all_name')}" >-->
			  <select name="year" class="year">
				  <php>
					  $years = ['请选择'];
					  $cur_year = I('get.year') ? I('get.year') : 0;
					  for($i = 2016;$i<=date('Y');$i++) {
					  $years[] = $i;
					  }

					  foreach($years as $year){
					  $selected = ($year == $cur_year) ? 'selected' : '';
					  echo '<option value="'.$year.'" '.$selected.'>'.$year.'</option>';
					  }
				  </php>
			  </select>年
			  <select name="month" class="month">
				  <php>
					  $months = ['请选择',1,2,3,4,5,6,7,8,9,10,11,12];
					  $cur_month = I('get.month') ? I('get.month') : 0;
					  foreach($months as $month){
					  $selected = ($month == $cur_month) ? 'selected' : '';
					  echo '<option value="'.$month.'" '.$selected.'>'.$month.'</option>';
					  }
				  </php>
			  </select>月

			  <if condition="$is_all">
				  &nbsp;&nbsp;&nbsp;&nbsp;填报单位:
				  <select name="all_name" class="all_name">
					  <php>
						  array_unshift($departments,'全部');
						  $cur = I('all_name') ? I('all_name') : '';
						  foreach($departments as $li){
						  $selected = ($li == $cur) ? 'selected' : '';
						  echo '<option value="'.$li.'" '.$selected.'>'.$li.'</option>';
						  }
					  </php>
				  </select>
			  </if>&nbsp;&nbsp;

			  <if condition="!$is_all">
					<span class="mr20">状态：

					<php>

						$first = (I('get.status')==='0')?'selected':'';
						$second = (I('get.status')==1)?'selected':'';
						$third = (I('get.status')==2)?'selected':'';
					</php>
					<select class="select_2 select" id="sch-sort-txt" name="status">
						<option value="" >全部</option>
						<option value="0" {$first}>草稿</option>
						<option value="1" {$second}>已提交</option>
						<option value="2" {$third}>已通过</option>
					</select>
			  </if>&nbsp;&nbsp;
					  <a class="u-btn" href="javascript:;" id="search" url="{:U('')}">搜索</a>
						<!-- <a href="javascript:;" class="u-btn" onclick="{:U('post/index',array('resetFiter'=>true))}">重置</a> -->
					</span>


	      </div>
	    </div>
		<!-- 数据表格 -->
	    <div class="table_list">
			<table class="" width="100%">
		    <thead>
		        <tr>

					<th >日期</th>
					<if condition="$is_all"><th >单位名称</th></if>
					<th >填报人</th>
					<th >状态</th>
					<th>操作</th>
				</tr>
		    </thead>
		    <tbody>
				<volist name="list" id="vo">
				<tr>



					<td>
						{$vo.year}-{$vo.month}
					</td>
					<if condition="$is_all"><td>{$vo.all_name}</td></if>
					<td>{$vo.data.filler_man}</td>

					<td><span class="lable_success">{$vo['status_desc']}</span></td>
					<td>

						<a  href="javascript:;" tmp_id="look" class="u-btn show_box">查看

						<div class="look-content" style="display: none">
							<table class="biaoge" style="margin: 0 auto;">
								<tbody>

								<tr>

									<td colspan="3">
										实缴注册资本:
									</td>
									<td>
										<input type="text" class="input input-medium" name="Capital" value="{$vo.data.Capital}">
									</td>
								</tr>

								<tr>

									<td colspan="3">
										所有者权益:
									</td>
									<td>
										<input type="text" class="input input-medium" name="Owner" value="{$vo.data.Owner}">
									</td>
								</tr>
								<tr>
									<td >租赁资产额</td>
									<td colspan="2">
										月末余额:
									</td>
									<td>
										<input type="text" class="input input-medium" name="Assets_M" value="{$vo.data.Assets_M}">
									</td>
								</tr>

								<tr>
									<td rowspan="2">
										业务笔数
									</td>
									<td colspan="2">
										月末留存笔数:
									</td>
									<td>
										<input type="text" class="input input-medium" name="Business_Stay" value="{$vo.data.Business_Stay}">
									</td>
								</tr>
								<tr>
									<td colspan="2">
										当月新增笔数:
									</td>
									<td>
										<input type="text" class="input input-medium" name="Business_M_New" value="{$vo.data.Business_M_New}">
									</td>
								</tr>

								<tr>
									<td rowspan="2">
										服务客户数
									</td>
									<td colspan="2">
										月末留存户数:
									</td>
									<td>
										<input type="text" class="input input-medium" name="Client_Stay" value="{$vo.data.Client_Stay}">
									</td>
								</tr>
								<tr>
									<td colspan="2">
										当月新增户数:
									</td>
									<td>
										<input type="text" class="input input-medium" name="Client_M_New" value="{$vo.data.Client_M_New}">
									</td>
								</tr>

								<tr>
									<td rowspan="3">
										经营情况（%）
									</td>
									<td colspan="2">
										售后回租占比:
									</td>
									<td>
										<input type="text" class="input input-medium" name="Business_C1" value="{$vo.data.Business_C1}">
									</td>
								</tr>
								<tr>
									<td colspan="2">
										平均收益率:
									</td>
									<td>
										<input type="text" class="input input-medium" name="Business_C2" value="{$vo.data.Business_C2}">
									</td>
								</tr>
								<tr>
									<td colspan="2">
										租金回收率:
									</td>
									<td>
										<input type="text" class="input input-medium" name="Business_C3" value="{$vo.data.Business_C3}">
									</td>
								</tr>

								<tr>
									<td rowspan="4">
										盈利情况
									</td>
									<td colspan="2">
										当月营业收入:
									</td>
									<td>
										<input type="text" class="input input-medium" name="Profit_A" value="{$vo.data.Profit_A}">
									</td>
								</tr>
								<tr>
									<td colspan="2">
										当月累计净利润:
									</td>
									<td>
										<input type="text" class="input input-medium" name="Profit_B" value="{$vo.data.Profit_B}">
									</td>
								</tr>
								<tr>
									<td colspan="2">
										当月应缴增值税:
									</td>
									<td>
										<input type="text" class="input input-medium" name="Profit_C" value="{$vo.data.Profit_C}">
									</td>
								</tr>
								<tr>
									<td colspan="2">
										当月应缴所得税:
									</td>
									<td>
										<input type="text" class="input input-medium" name="Profit_D" value="{$vo.data.Profit_D}">
									</td>
								</tr>

								</tbody>
							</table>
						</div>
						</a>
						<if condition="$vo['status'] == 0 && $can_edit">
							|<a class="u-btn" href="{:U('submit_monthly')}/year/{$vo.year}/month/{$vo.month}/all_name/{$vo.all_name}/editing/1" >编辑</a>
							|<a class="u-btn confirm J_ajax_get" href="{:U('submit_monthly_verify_new')}/id/{$vo.id}" >提交审核</a>
						</if>

						<if condition="$vo['status'] == 1 && $can_change_status ">
							|<a class="u-btn confirm J_ajax_get" href="{:U('verify_change_status')}/id/{$vo.id}/status/2" >审核通过</a>

						</if>
						<if condition="$vo['status'] != 0 && $can_change_status">

							|<a class="u-btn confirm J_ajax_get" href="{:U('verify_change_status')}/id/{$vo.id}/status/0" >退回修改</a>
						</if>
					</td>
				</tr>
				</volist>
			</tbody>
		    </table> 
		</div>
		<div class="btn_wrap">
			<div class="btn_wrap_pd">


		    </div>
		</div>
		<!-- 分页 -->
	    <div class="page">
	        {$page_html}
	    </div>
	</div>
</div>

	<div id="look" class="show_box_temp" style="max-height:500px;overflow-y:auto;display:none;position: fixed;width: 600px;margin-left:-300px;overflow:auto;left: 50%;top:10%;z-index: 999999;background: #ddd;border: 1px solid #000000;padding: 10px">
		<p style="padding: 10px">

		<div class="box-content">

		</div>


			<a class="u-btn	close_show_box" href="javascript:;">关闭</a>
		</p>
	</div>

</block>
<block name="script">
<link href="__STATIC__/datetimepicker/css/datetimepicker.css" rel="stylesheet" type="text/css">
<php>if(C('COLOR_STYLE')=='blue_color') echo '<link href="__STATIC__/datetimepicker/css/datetimepicker_blue.css" rel="stylesheet" type="text/css">';</php>
<link href="__STATIC__/datetimepicker/css/dropdown.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="__STATIC__/datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript" src="__STATIC__/datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>
<script type="text/javascript">
$(function(){
	//搜索功能
	$("#search").click(function(){
		var url = $(this).attr('url');
        var query  = $('.search-form').find('input,select').serialize();
        query = query.replace(/(&|^)(\w*?\d*?\-*?_*?)*?=?((?=&)|(?=$))/g,'');
        query = query.replace(/^&/g,'');


        if( url.indexOf('?')>0 ){
            url += '&' + query;
        }else{
            url += '?' + query;
        }
		window.location.href = url;
	});

	/* 状态搜索子菜单 */
	$(".search-form").find(".drop-down").hover(function(){
		$("#sub-sch-menu").removeClass("hidden");
	},function(){
		$("#sub-sch-menu").addClass("hidden");
	});
	$("#sub-sch-menu li").find("a").each(function(){
		$(this).click(function(){
			var text = $(this).text();
			$("#sch-sort-txt").text(text).attr("data",$(this).attr("value"));
			$("#sub-sch-menu").addClass("hidden");
		})
	});

    //回车自动提交
    $('.search-form').find('input').keyup(function(event){
        if(event.keyCode===13){
            $("#search").click();
        }
    });

    $('#time-start').datetimepicker({
        format: 'yyyy-mm-dd',
        language:"zh-CN",
	    minView:2,
	    autoclose:true
    });

    $('#datetimepicker').datetimepicker({
       format: 'yyyy-mm-dd',
        language:"zh-CN",
        minView:2,
        autoclose:true,
        pickerPosition:'bottom-left'
    });

	$('.show_box').on('click', function () {
		//console.log($(this).attr('data'));
		$('.show_box_temp').hide();

		var id = $(this).attr('tmp_id');
		$('#'+id).show();
		var html = $(this).find('.look-content').html();
		$('#'+id).find('.box-content').html(html);
	});
	$('.close_show_box').on('click',function () {
		$(this).parents('.show_box_temp').hide();
	});


});

</script>
</block>


