<extend name="Public/base"/>

<block name="body">
	<div class="g-wrap">
		<!-- 按钮工具栏 -->
		<div class="u-tab">
			<ul class="cc tab-nav">
				<li class="current"><a href="javascript:;">{$title}</a></li>
				<include file="Public/history_link"/>
			</ul>
		</div>
		<!-- 数据表格 -->
		<div class="tab-content table_list">
			<!-- 表单 -->
			<form id="form" action="{:U('submit_monthly')}/id/{$info.id}" method="post" class="form-horizontal">
				<div id="tab">
					<table class="biaoge">
						<tbody>
						<tr>
							<td colspan="4"><span class="title">慈溪市融资租赁行业</span><span> (金额单位 万元)</span></td>

						</tr>
						<tr>
							<td>公司全称:</td>
							<td>
								<select name="all_name">
									<php>
										$list = $departments;
										$cur = $info['all_name'];
										foreach($list as $li){
										$selected = ($li == $cur) ? 'selected' : '';
										echo '<option value="'.$li.'" '.$selected.'>'.$li.'</option>';
										}
									</php>
								</select>

							</td>
							<td>填表人:</td>
							<td>
								<input type="text" class="input input-medium" name="filler_man" value="{$info.filler_man}">
							</td>
						</tr>

						<tr>
							<td colspan="3">项目</td>
							<td>

								{:date('Y')}年{:date('m')}月
							</td>
						</tr>

						<tr>

							<td colspan="3">
								实缴注册资本:
							</td>
							<td>
								<input type="text" class="input input-medium" name="Capital" value="{$info.Capital}">
							</td>
						</tr>

						<tr>

							<td colspan="3">
								所有者权益:
							</td>
							<td>
								<input type="text" class="input input-medium" name="Owner" value="{$info.Owner}">
							</td>
						</tr>
						<tr>
							<td >租赁资产额</td>
							<td colspan="2">
								月末余额:
							</td>
							<td>
								<input type="text" class="input input-medium" name="Assets_M" value="{$info.Assets_M}">
							</td>
						</tr>

						<tr>
							<td rowspan="2">
								业务笔数
							</td>
							<td colspan="2">
								月末留存笔数:
							</td>
							<td>
								<input type="text" class="input input-medium" name="Business_Stay" value="{$info.Business_Stay}">
							</td>
						</tr>
						<tr>
							<td colspan="2">
								当月新增笔数:
							</td>
							<td>
								<input type="text" class="input input-medium" name="Business_M_New" value="{$info.Business_M_New}">
							</td>
						</tr>

						<tr>
							<td rowspan="2">
								服务客户数
							</td>
							<td colspan="2">
								月末留存户数:
							</td>
							<td>
								<input type="text" class="input input-medium" name="Client_Stay" value="{$info.Client_Stay}">
							</td>
						</tr>
						<tr>
							<td colspan="2">
								当月新增户数:
							</td>
							<td>
								<input type="text" class="input input-medium" name="Client_M_New" value="{$info.Client_M_New}">
							</td>
						</tr>

						<tr>
							<td rowspan="3">
								经营情况（%）
							</td>
							<td colspan="2">
								售后回租占比:
							</td>
							<td>
								<input type="text" class="input input-medium" name="Business_C1" value="{$info.Business_C1}">
							</td>
						</tr>
						<tr>
							<td colspan="2">
								平均收益率:
							</td>
							<td>
								<input type="text" class="input input-medium" name="Business_C2" value="{$info.Business_C2}">
							</td>
						</tr>
						<tr>
							<td colspan="2">
								租金回收率:
							</td>
							<td>
								<input type="text" class="input input-medium" name="Business_C3" value="{$info.Business_C3}">
							</td>
						</tr>

						<tr>
							<td rowspan="4">
								盈利情况
							</td>
							<td colspan="2">
								当月营业收入:
							</td>
							<td>
								<input type="text" class="input input-medium" name="Profit_A" value="{$info.Profit_A}">
							</td>
						</tr>
						<tr>
							<td colspan="2">
								当月累计净利润:
							</td>
							<td>
								<input type="text" class="input input-medium" name="Profit_B" value="{$info.Profit_B}">
							</td>
						</tr>
						<tr>
							<td colspan="2">
								当月应缴增值税:
							</td>
							<td>
								<input type="text" class="input input-medium" name="Profit_C" value="{$info.Profit_C}">
							</td>
						</tr>
						<tr>
							<td colspan="2">
								当月应缴所得税:
							</td>
							<td>
								<input type="text" class="input input-medium" name="Profit_D" value="{$info.Profit_D}">
							</td>
						</tr>
						</tbody>
					</table>
				</div>






				<div class="btn_wrap">
					<div class="btn_wrap_pd">
						<if condition="$info['id']">已提交</if><button class="btn submit-btn J_ajax_post" id="submit" type="submit" target-form="form-horizontal"><if condition="$info['id']">修 改<else/>提 交</if></button>
					</div>
				</div>
			</form>
		</div>
	</div>
	</div>

</block>