<table class="biaoge" style="min-width:500px;background: #fff;min-height: 500px;max-height: 600px;display:block;overflow: scroll">
	<tbody>
	<tr>
		<td colspan="15">
			<span class="title">企业贷款利率执行水平监测表(季报)</span><span> (单位 万元,年利率%)</span>
		</td>
	</tr>
	<tr>
		<td colspan="12">公司:{$info.all_name}</td>

	</tr>

	<tr>
		<td>企业类型</td>
		<td>本季发生额</td>
		<td>加权平均利率</td>
	</tr>

	<tr>
		<td>大</td>
		<td>
			<input type="text" class="input input-small" name="A[]" value="{$info.A.a}">
		</td>
		<td>
			<input type="text" class="input input-small" name="Rate_A[]" value="{$info.Rate_A.a}">
		</td>


	</tr>
	<tr>
		<td>中</td>
		<td>
			<input type="text" class="input input-small" name="A[]" value="{$info.A.b}">
		</td>
		<td>
			<input type="text" class="input input-small" name="Rate_A[]" value="{$info.Rate_A.b}">
		</td>

	</tr>
	<tr>
		<td>小</td>
		<td>
			<input type="text" class="input input-small" name="A[]" value="{$info.A.c}">
		</td>
		<td>
			<input type="text" class="input input-small" name="Rate_A[]" value="{$info.Rate_A.c}">
		</td>
	</tr>
	<tr>
		<td>微</td>
		<td>
			<input type="text" class="input input-small" name="A[]" value="{$info.A.d}">
		</td>
		<td>
			<input type="text" class="input input-small" name="Rate_A[]" value="{$info.Rate_A.d}">
		</td>
	</tr>
	<tr>
		<td>合计</td>
		<td>
			<input type="text" class="input input-small" name="A[]" value="{$info.A.e}">
		</td>
		<td>
			<input type="text" class="input input-small" name="Rate_A[]" value="{$info.Rate_A.e}">
		</td>
	</tr>
	</tbody>
</table>