
<table class="biaoge" style="min-width:500px;background: #fff;min-height: 500px;">
	<tbody>
	<tr>
		<td colspan="12">
			<span class="title">银行机构不良贷款监测统计表</span><span> (单位 万元)</span>
		</td>
	</tr>
	<tr>
		<td colspan="12">公司:{$info.all_name}</td>

	</tr>

	<tr>
		<td rowspan="2">年初不良贷款额</td>
		<td rowspan="2">本月不良贷款额</td>
		<td rowspan="2">比年初增减额</td>
		<td rowspan="2">比上月增减</td>
		<td colspan="8">其中:五级分类情况</td>
	</tr>
	<tr>
		<td>次级</td>
		<td>比年初</td>
		<td>可疑</td>
		<td>比年初</td>
		<td>损失</td>
		<td>比年初</td>
		<td colspan="2">次级+可疑+损失</td>
	</tr>
	<tr>
		<td>
			<input type="text" class="input input-small" name="Baddebt_Initial" value="{$info.Baddebt_Initial}">
		</td>
		<td>
			<input type="text" class="input input-small" name="Baddebt_Month" value="{$info.Baddebt_Month}">
		</td>
		<td>
			<input type="text" class="input input-small" name="Baddebt_Initial_Modify" value="{$info.Baddebt_Initial_Modify}">
		</td>
		<td>
			<input type="text" class="input input-small" name="Baddebt_Lastmon_Modify" value="{$info.Baddebt_Lastmon_Modify}">
		</td>
		<td>
			<input type="text" class="input input-small" name="Baddebt_C" value="{$info.Baddebt_C}">
		</td>
		<td>
			<input type="text" class="input input-small" name="Baddebt_C_Initial_Modify" value="{$info.Baddebt_C_Initial_Modify}">
		</td>
		<td>
			<input type="text" class="input input-small" name="Baddebt_D" value="{$info.Baddebt_D}">
		</td>
		<td>
			<input type="text" class="input input-small" name="Baddebt_D_Initial_Modify" value="{$info.Baddebt_D_Initial_Modify}">
		</td>
		<td>
			<input type="text" class="input input-small" name="Baddebt_E" value="{$info.Baddebt_E}">
		</td>
		<td>
			<input type="text" class="input input-small" name="Baddebt_E_Initial_Modify" value="{$info.Baddebt_E_Initial_Modify}">
		</td>
		<td colspan="2">
			<input type="text" class="input input-small" name="Baddebt_CDE" value="{$info.Baddebt_CDE}">
		</td>

	</tr>


	<tr>
		<td rowspan="2">年初不良贷款额</td>
		<td rowspan="2">本月不良贷款额</td>
		<td rowspan="2">比年初增减额</td>
		<td rowspan="2">比上月增减</td>
		<td colspan="2">现金回收</td>
		<td colspan="6">不良资产处置情况</td>
	</tr>
	<tr>
		<td>当年新发生</td>
		<td>上年度</td>
		<td>上划</td>
		<td>以资抵债</td>
		<td>重组上调</td>
		<td>资产证券化</td>
		<td>转让</td>
		<td>核销</td>
	</tr>
	<tr>
		<td>
			<input type="text" class="input input-small" name="Baddebt_Initial_Rate" value="{$info.Baddebt_Initial_Rate}">
		</td>
		<td>
			<input type="text" class="input input-small" name="Baddebt_Month_Rate" value="{$info.Baddebt_Month_Rate}">
		</td>
		<td>
			<input type="text" class="input input-small" name="Baddebt_Year_New" value="{$info.Baddebt_Year_New}">
		</td>
		<td>
			<input type="text" class="input input-small" name="Baddebt_Back" value="{$info.Baddebt_Back}">
		</td>
		<td>
			<input type="text" class="input input-small" name="Baddebt_Back_Cash_Lastyear" value="{$info.Baddebt_Back_Cash_Lastyear}">
		</td>
		<td>
			<input type="text" class="input input-small" name="Baddebt_Back_Cash_New" value="{$info.Baddebt_Back_Cash_New}">
		</td>
		<td>
			<input type="text" class="input input-small" name="Baddebt_Back_A" value="{$info.Baddebt_Back_A}">
		</td>
		<td>
			<input type="text" class="input input-small" name="Baddebt_Back_B" value="{$info.Baddebt_Back_B}">
		</td>
		<td>
			<input type="text" class="input input-small" name="Baddebt_Back_C" value="{$info.Baddebt_Back_C}">
		</td>
		<td>
			<input type="text" class="input input-small" name="Baddebt_Back_D" value="{$info.Baddebt_Back_D}">
		</td>
		<td>
			<input type="text" class="input input-small" name="Baddebt_Back_E" value="{$info.Baddebt_Back_E}">
		</td>
		<td>
			<input type="text" class="input input-small" name="Baddebt_Back_F" value="{$info.Baddebt_Back_F}">
		</td>
	</tr>

	<tr>
		<td>关注类贷款</td>
		<td><input type="text" class="input input-small" name="Baddebt_B" value="{$info.Baddebt_D}"></td>
		<td>比年初增减额</td>
		<td><input type="text" class="input input-small" name="Baddebt_B_Initial_Modify" value="{$info.Baddebt_B_Initial_Modify}"></td>
		<td>逾期类贷款</td>
		<td><input type="text" class="input input-small" name="Baddebt_Overdue" value="{$info.Baddebt_Overdue}"></td>
		<td>比年初增减额</td>
		<td><input type="text" class="input input-small" name="Baddebt_Overdue_Initial_Modify" value="{$info.Baddebt_Overdue_Initial_Modify}"></td>
		<td>逾期贷款三个月以上的</td>
		<td colspan="3"><input type="text" class="input input-small" name="Baddebt_Overdue_long" value="{$info.Baddebt_Overdue_long}"></td>

	</tr>
	</tbody>
</table>