<table class="biaoge" style="min-width:500px;background: #fff;min-height: 500px;max-height: 600px;display:block;overflow: scroll">
	<tbody>
	<tr>
		<td colspan="15">
			<span class="title">资产质量相关情况调查表(季报)</span><span> (单位 万元,%)</span>
		</td>
	</tr>
	<tr>
		<td colspan="12">公司:{$info.all_name}</td>

	</tr>

	<tr>
		<td>项目</td>
		<td>当季余额</td>
	</tr>

	<tr>
		<td>关注类贷款</td>
		<td>
			<input type="text" class="input input-small" name="A[]" value="{$info.A.a}">
		</td>


	</tr>
	<tr>
		<td>剪刀差</td>
		<td>
			<input type="text" class="input input-small" name="A[]" value="{$info.A.b}">
		</td>


	</tr>
	<tr>
		<td>逾期90天以上未纳入不良</td>
		<td>
			<input type="text" class="input input-small" name="A[]" value="{$info.A.c}">
		</td>

	</tr>
	<tr>
		<td>应收未收利息</td>
		<td>
			<input type="text" class="input input-small" name="A[]" value="{$info.A.d}">
		</td>

	</tr>
	</tbody>
</table>