
<table class="biaoge" style="min-width:500px;background: #fff;min-height: 500px;">
	<tbody>
	<tr>
		<td colspan="22"><span class="title">不良贷款明细报表</span><span> (金额单位 万元)</span></td>

	</tr>
	<tr>
		<td colspan="12">公司:{$info[0]['all_name']}</td>

	</tr>

	<tr >
		<td>企业名称:</td>
		<td>法定代表人:</td>
		<td>地址:</td>
		<td>不良贷款余额:</td>
		<td>不良贷款分类:</td>
		<td>行业分类:</td>
		<td>列入不良时间:</td>
		<td>收回不良时间:</td>
		<td>不良产生原因:</td>
		<td>清收措施:</td>
		<td>企业基本情况:</td>
		<td>下步处置计划:</td>
		<td>要求/建议:</td>

	</tr>

	<volist name="info" id="vo">
		<tr>
			<if condition="$cache == 1">
				<td>{$vo[0]}</td>
				<td>{$vo[1]}</td>
				<td>{$vo[2]}</td>
				<td>{$vo[3]}</td>
				<td>{$vo[4]}</td>
				<td>{$vo[5]}</td>
				<td>{$vo[6]|time_to_date}</td>
				<td>{$vo[7]|time_to_date}</td>
				<td>{$vo[8]}</td>
				<td>{$vo[9]}</td>
				<td>{$vo[10]}</td>
				<td>{$vo[11]}</td>
				<td>{$vo[12]}</td>
				<else/>
				<td>{$vo['Enterprise']}</td>
				<td>{$vo['Principal']}</td>
				<td>{$vo['Address']}</td>
				<td>{$vo['Loans']}</td>
				<td>{$vo['Loans_Type']}</td>
				<td>{$vo['Industry']}</td>
				<td>{$vo['Startdate']|time_to_date}</td>
				<td>{$vo['Enddate']|time_to_date}</td>
				<td>{$vo['Reason']}</td>
				<td>{$vo['Handle']}</td>
				<td>{$vo['Info']}</td>
				<td>{$vo['Plan']}</td>
				<td>{$vo['Recommend']}</td>
			</if>

		</tr>

	</volist>
	<tr>
		<td colspan="13">
			<div class="page">
				{$page_html}
			</div>
		</td>
	</tr>

	</tbody>
</table>
