<extend name="Public/base"/>

<block name="body">
	<link rel="stylesheet" type="text/css" href="__STATIC__/webuploader/webuploader.css">
	<script type="text/javascript" src="__STATIC__/webuploader/webuploader.min.js"></script>
	<div class="g-wrap">
		<!-- 按钮工具栏 -->
		<div class="u-tab">
			<ul class="cc tab-nav">
				<li class="current"><a href="javascript:;">{$title}</a></li>
			</ul>
		</div>
		<!-- 数据表格 -->
		<div class="tab-content table_list">
			<!-- 表单 -->
			<form id="form" action="{:U('')}" method="post" class="form-horizontal">
				<div id="tab">
					<table class="biaoge">
						<tbody>
						<tr>
							<td colspan="22"><span class="title">关注类贷款明细报表</span><span> (金额单位 万元)</span></td>

						</tr>

						<tr>
							<td colspan="22">
								填报机构:
								<select name="all_name">
									<php>
										$list = $departments;
										$cur = $info['all_name'];
										foreach($list as $li){
										$selected = ($li == $cur) ? 'selected' : '';
										echo '<option value="'.$li.'" '.$selected.'>'.$li.'</option>';
										}
									</php>
								</select>
								<input type="hidden" class="input input-medium" name="filler_man" value="{:session('user_auth.username')}">
								&nbsp;&nbsp;&nbsp;&nbsp;时间:
								<select name="year" class="year change_time">
									<php>
										$years = [2016,2017];
										$cur_year = I('year') ? I('year') : intval(date('Y'));
										foreach($years as $year){
										$selected = ($year == $cur_year) ? 'selected' : '';
										echo '<option value="'.$year.'" '.$selected.'>'.$year.'</option>';
										}
									</php>
								</select>年
								<select name="month" class="month change_time">
									<php>
										$months = [1,2,3,4,5,6,7,8,9,10,11,12];
										$cur_month = I('month') ? I('month') : intval(date('m'));
										foreach($months as $month){
										$selected = ($month == $cur_month) ? 'selected' : '';
										echo '<option value="'.$month.'" '.$selected.'>'.$month.'</option>';
										}
									</php>
								</select>月


							</td>

						<tr>
							<td colspan="22"><div id="filePicker">导入excel</div></td>
							<input type="hidden" name="good_key" value="{:I('good_key')}" id="good_key"/>
						</tr>
						</tbody>
						</table>

					<br/>
					导入数据:
						<table class="biaoge">


							<tr >
								<td >企业名称/个人姓名:</td>
								<td >贷款余额:</td>
								<td >逾期贷款余额(万元):</td>
								<td >发放日期:</td>
								<td >到期日期:</td>
								<td >行业分类:</td>
								<td >企业规模(工信部标准):</td>
								<td >法定代表人*:</td>
								<td >联系电话*:</td>
								<td >注册地址*:</td>
								<td >所属镇(街道)*:</td>
								<td >备注*:</td>
							</tr>

						<volist name="infos" id="vo">
							<tr>
								<if condition="$cache == 1">
									<td>{$vo[0]}</td>
									<td>{$vo[1]}</td>
									<td>{$vo[2]}</td>
									<td>{$vo[3]|time_to_date}</td>
									<td>{$vo[4]|time_to_date}</td>
									<td>{$vo[5]}</td>
									<td>{$vo[6]}</td>
									<td>{$vo[7]}</td>
									<td>{$vo[8]}</td>
									<td>{$vo[9]}</td>
									<td>{$vo[10]}</td>
									<td>{$vo[11]}</td>

									<else/>
									<td>{$vo['Enterprise']}</td>
									<td>{$vo['Loans']}</td>
									<td>{$vo['Overdue_Loans']}</td>
									<td>{$vo['Startdate']|time_to_date}</td>
									<td>{$vo['Enddate']|time_to_date}</td>
									<td>{$vo['Industry']}</td>
									<td>{$vo['Scale']}</td>
									<td>{$vo['Principal']}</td>
									<td>{$vo['Address']}</td>
									<td>{$vo['Phone']}</td>
									<td>{$vo['Area']}</td>
									<td>{$vo['Remark']}</td>
								</if>

							</tr>
						</volist>
						<tr style="display: none;" class="add_line"><td colspan="22"><a class="btn add_log">添加</a></td></tr>
						</tbody>
					</table>

				</div>

				<div class="page">
					{$page_html}
				</div>




				<div class="btn_wrap">
					<div class="btn_wrap_pd">
						<button class="btn submit-btn J_ajax_post" id="submit" type="submit" target-form="form-horizontal">保存</button>
					</div>
				</div>
			</form>
		</div>
	</div>
	</div>
	<link href="__STATIC__/datetimepicker/css/datetimepicker.css" rel="stylesheet" type="text/css">
	<php>if(C('COLOR_STYLE')=='blue_color') echo '<link href="__STATIC__/datetimepicker/css/datetimepicker_blue.css" rel="stylesheet" type="text/css">';</php>
	<link href="__STATIC__/datetimepicker/css/dropdown.css" rel="stylesheet" type="text/css">
	<script type="text/javascript" src="__STATIC__/datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
	<script type="text/javascript" src="__STATIC__/datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>
	<script>
		$(document).ready(function() {
			$(document).on('click', '.add_log', function () {
				var add_html = '<tr>'+
						'<td>'+
						'<input type="text" class="input input-xmedium" name="logs1[]">'+
						'</td>'+
						'<td>'+
						'<input type="text" class="input input-xmedium name" name="logs2[]">'+
						'</td>'+
						'<td>'+
						'<input type="text" class="input input-xmedium" name="logs3[]">'+
						'</td>'+
						'<td>'+
						'<input type="text" class="input input-xmedium" name="logs4[]">'+
						'</td>'+
						'<td>'+
						'<input type="text" class="btn auto_fill" value="自动填充">'+
						'</td>'+
						'<td>'+
						'<input type="text" class="input input-xmedium" name="logs5[]">'+
						'</td>'+
						'<td>'+
						'<input type="text" class="input input-xmedium" name="logs6[]">'+
						'</td>'+
						'<td>'+
						'<input type="text" class="input input-xmedium" name="logs7[]">'+
						'</td>'+
						'<td>'+
						'<select name="logs8[]">{$area_options}</select>'+
						'</td>'+
						'<td>'+
						'<input type="text" class="input input-xmedium" name="logs9[]">'+
						'</td>'+
						'<td>'+
						'<input type="text" id="time-start" class="input input-xmedium" name="logs10[]">'+
						'</td>'+
						'<td>'+
						'<input type="text" id="time-end" class="input input-xmedium" name="logs11[]">'+
						'</td>'+
						'<td>'+
						'<input type="text" class="input input-xmedium" name="logs12[]">'+
						'</td>'+
						'<td>'+
						'<input type="text" class="input input-xmedium" name="logs13[]">'+
						'</td>'+
						'<td>'+
						'<input type="text" class="input input-xmedium" name="logs14[]">'+
						'</td>'+
						'<td>'+
						'<input type="text" class="input input-xmedium" name="logs15[]">'+
						'</td>'+
						'<td>'+
						'<input type="text" class="input input-xmedium" name="logs16[]">'+
						'</td>'+
						'<td>'+
						'<input type="text" class="input input-xmedium" name="logs17[]">'+
						'</td>'+
						'<td>'+
						'<select name="logs18[]">{$pattern_options}</select>'+
						'</td>'+
						'<td>'+
						'<input type="text" class="input input-xmedium" name="logs19[]">'+
						'</td>'+
						'<td>'+
						'<input placeholder="是或否" type="text" class="input input-xmedium" name="logs20[]">'+
						'</td>'+
						'<td>'+
						'<input type="text" class="input input-xmedium" name="logs21[]">'+
						'</td>'+

						'<td><a class="btn del_log">删除</a></td>'+
						'</tr>'
				$('.add_line').before(add_html);

				$('.add_line').prev().find("#time-start").datetimepicker({
					format: 'yyyy-mm-dd',
					language:"zh-CN",
					minView:2,
					autoclose:true
				});

				$('.add_line').prev().find("#time-end").datetimepicker({
					format: 'yyyy-mm-dd',
					language:"zh-CN",
					minView:2,
					autoclose:true,
					pickerPosition:'bottom-left'
				});



			});
			$(document).on('click', '.del_log', function () {
				$(this).parents('tr').remove();

			});

			$(document).on('click', '.auto_fill', function () {
				var tr = $(this).parents('tr');
				var name = tr.find('.name').val();
				$.get('{:U("get_enterprise_info")}', {name:name}, function(data){

					if (!data || !data.Legal || !data.Phone || !data.Address || !data.Jurisdictions || !data.Industry) {
						updateAlert('自动信息填充不完整,请手动输入相关自动数据');
					}


					tr.find("input[name='logs5[]']").val(data.Legal);
					tr.find("input[name='logs6[]']").val(data.Phone);
					tr.find("input[name='logs7[]']").val(data.Address);

					tr.find("select[name='logs8[]']").val(data.Jurisdictions);

					tr.find("input[name='logs9[]']").val(data.Industry);

				});

			});

			$('.time-start').datetimepicker({
				format: 'yyyy-mm-dd',
				language:"zh-CN",
				minView:2,
				autoclose:true
			});
			$('.time-end').datetimepicker({
				format: 'yyyy-mm-dd',
				language:"zh-CN",
				minView:2,
				autoclose:true
			});

		});
	</script>


	<script type="text/javascript">
		//上传图片
		var uploader = WebUploader.create({

			// 选完文件后，是否自动上传。
			auto: true,

			// swf文件路径
			swf: '__STATIC__/webuploader/Uploader.swf',

			// 文件接收服务端。
			server: "{:U('FinancialBank/upload_excel',array('session_id'=>session_id(), 'type'=>'focus_detail_new'))}",
			fileNumLimit: 1,
			// 选择文件的按钮。可选。
			// 内部根据当前运行是创建，可能是input元素，也可能是flash.
			pick: '#filePicker',
			resize : false,
			duplicate: true,
			// 只允许选择图片文件。
			accept: {
				title : 'Applications',
				extensions : 'xls',
				mimeTypes : 'application/xls'
			}
		});
//		uploader.on( 'uploadSuccess', function(file, response) {
//			upload(file, response);
//		});
		uploader.on( 'uploadSuccess', function(file, response) {
			if(response.status){
				updateAlert('导入成功','alert-success');
				$('.result').html('已导入数据');
				if (response.key) {
					alert('部分数据不符合要求,我们将以excel的形式退回给您');
					window.open("{:U('get_excel')}/key/"+response.key);
				}
				if (response.good_key) {
					alert('数据已导入成功,如10分钟内未提交,则导入数据将自动清空');
					$('#good_key').val(response.good_key);
					//upload(0,response.data);

					location.href = '{:U('')}/good_key/'+response.good_key;
				}


			} else {
				updateAlert(response.info);
			}
		});
		uploader.on( 'startUpload', function() {
			updateAlert('上传中。。。');
		});

		function upload(file, data){

			if(data) {
				updateAlert('导入成功', 'alert-success');
				//conosle.log(data.data);
				for (var i in data) {
					var line = data[i];
					var add_html = '<tr>' +
							'<td>' +
							line[0] +
							'</td>' +
							'<td>' +
							line[1] +
							'</td>' +
							'<td>' +
							line[2] +
							'</td>' +
							'<td>' +
							line[3] +
							'</td>' +
							'<td>' +
							line[4] +
							'</td>' +
							'<td>' +
							line[5] +
							'</td>' +
							'<td>' +
							line[6] +
							'</td>' +
							'<td>' +
							line[7] +
							'</td>' +
							'<td>' +
							line[8] +
							'</td>' +
							'<td>' +
							line[9] +
							'</td>' +
							'<td>' +
							line[10] +
							'</td>' +
							'<td>' +
							line[11] +
							'</td>' +
							'</tr>';
					$('.add_line').before(add_html);
				}

			}
		}
	</script>

	<script>
		$(document).ready(function(){
			$('.change_time').change(function(){
				var year = $('.year').val();
				var month = $('.month').val();
				location.href= "{:U('')}/year/"+year+"/month/"+month;
			})
		})
	</script>

</block>