<tr>
	<td>项目</td>
	<td>当季余额</td>
</tr>

<tr>
	<td>关注类贷款</td>
	<td>
		<input type="text" class="input input-small" name="A[]" value="{$vo.data_bank_8.A.a}">
	</td>


</tr>
<tr>
	<td>剪刀差</td>
	<td>
		<input type="text" class="input input-small" name="A[]" value="{$vo.data_bank_8.A.b}">
	</td>


</tr>
<tr>
	<td>逾期90天以上未纳入不良</td>
	<td>
		<input type="text" class="input input-small" name="A[]" value="{$vo.data_bank_8.A.c}">
	</td>

</tr>
<tr>
	<td>应收未收利息</td>
	<td>
		<input type="text" class="input input-small" name="A[]" value="{$vo.data_bank_8.A.d}">
	</td>

</tr>