<tr>
	<td>企业类型</td>
	<td>本季发生额</td>
	<td>加权平均利率</td>
</tr>

<tr>
	<td>大</td>
	<td>
		<input type="text" class="input input-small" name="A[]" value="{$vo.data_bank_7.A.a}">
	</td>
	<td>
		<input type="text" class="input input-small" name="Rate_A[]" value="{$vo.data_bank_7.Rate_A.a}">
	</td>


</tr>
<tr>
	<td>中</td>
	<td>
		<input type="text" class="input input-small" name="A[]" value="{$vo.data_bank_7.A.b}">
	</td>
	<td>
		<input type="text" class="input input-small" name="Rate_A[]" value="{$vo.data_bank_7.Rate_A.b}">
	</td>

</tr>
<tr>
	<td>小</td>
	<td>
		<input type="text" class="input input-small" name="A[]" value="{$vo.data_bank_7.A.c}">
	</td>
	<td>
		<input type="text" class="input input-small" name="Rate_A[]" value="{$vo.data_bank_7.Rate_A.c}">
	</td>
</tr>
<tr>
	<td>微</td>
	<td>
		<input type="text" class="input input-small" name="A[]" value="{$vo.data_bank_7.A.d}">
	</td>
	<td>
		<input type="text" class="input input-small" name="Rate_A[]" value="{$vo.data_bank_7.Rate_A.d}">
	</td>
</tr>
<tr>
	<td>合计</td>
	<td>
		<input type="text" class="input input-small" name="A[]" value="{$vo.data_bank_7.A.e}">
	</td>
	<td>
		<input type="text" class="input input-small" name="Rate_A[]" value="{$vo.data_bank_7.Rate_A.e}">
	</td>
</tr>