<tr>
	<td rowspan="3"></td>
	<td rowspan="2" colspan="2">贷款利率</td>
	<td rowspan="2" colspan="2">最高利率</td>
	<td rowspan="2" colspan="2">最低利率</td>
	<td  colspan="8">贷款方式</td>
</tr>
<tr>
	<td colspan="2">信用</td>
	<td colspan="2">抵押(质押)</td>
	<td colspan="2">保证</td>
	<td colspan="2">抵押(质押)+保证</td>
</tr>
<tr>
	<td>发生额</td>
	<td>加权平均利率</td>
	<td>发生额</td>
	<td>利率</td>
	<td>发生额</td>
	<td>利率</td>
	<td>发生额</td>
	<td>加权平均利率</td>
	<td>发生额</td>
	<td>加权平均利率</td>
	<td>发生额</td>
	<td>加权平均利率</td>
	<td>发生额</td>
	<td>加权平均利率</td>
</tr>

<tr>
	<td>一年以内(含1年)</td>
	<td>
		<input type="text" class="input input-small" name="A1[]" value="{$vo.data_bank_6.A1.a}">
	</td>
	<td>
		<input type="text" class="input input-small" name="Rate_A1[]" value="{$vo.data_bank_6.Rate_A1.a}">
	</td>
	<td>
		<input type="text" class="input input-small" name="A2[]" value="{$vo.data_bank_6.A2.a}">
	</td>
	<td>
		<input type="text" class="input input-small" name="Rate_A2[]" value="{$vo.data_bank_6.Rate_A2.a}">
	</td>
	<td>
		<input type="text" class="input input-small" name="A3[]" value="{$vo.data_bank_6.A3.a}">
	</td>
	<td>
		<input type="text" class="input input-small" name="Rate_A3[]" value="{$vo.data_bank_6.Rate_A3.a}">
	</td>
	<td>
		<input type="text" class="input input-small" name="A4[]" value="{$vo.data_bank_6.A4.a}">
	</td>
	<td>
		<input type="text" class="input input-small" name="Rate_A4[]" value="{$vo.data_bank_6.Rate_A4.a}">
	</td>
	<td>
		<input type="text" class="input input-small" name="A5[]" value="{$vo.data_bank_6.A5.a}">
	</td>
	<td>
		<input type="text" class="input input-small" name="Rate_A5[]" value="{$vo.data_bank_6.Rate_A5.a}">
	</td>
	<td>
		<input type="text" class="input input-small" name="A6[]" value="{$vo.data_bank_6.A6.a}">
	</td>
	<td>
		<input type="text" class="input input-small" name="Rate_A6[]" value="{$vo.data_bank_6.Rate_A6.a}">
	</td>
	<td>
		<input type="text" class="input input-small" name="A7[]" value="{$vo.data_bank_6.A7.a}">
	</td>
	<td>
		<input type="text" class="input input-small" name="Rate_A7[]" value="{$vo.data_bank_6.Rate_A7.a}">
	</td>
</tr>
<tr>
	<td>一年至五年(含5年)</td>
	<td>
		<input type="text" class="input input-small" name="A1[]" value="{$vo.data_bank_6.A1.b}">
	</td>
	<td>
		<input type="text" class="input input-small" name="Rate_A1[]" value="{$vo.data_bank_6.Rate_A1.b}">
	</td>
	<td>
		<input type="text" class="input input-small" name="A2[]" value="{$vo.data_bank_6.A2.b}">
	</td>
	<td>
		<input type="text" class="input input-small" name="Rate_A2[]" value="{$vo.data_bank_6.Rate_A2.b}">
	</td>
	<td>
		<input type="text" class="input input-small" name="A3[]" value="{$vo.data_bank_6.A3.b}">
	</td>
	<td>
		<input type="text" class="input input-small" name="Rate_A3[]" value="{$vo.data_bank_6.Rate_A3.b}">
	</td>
	<td>
		<input type="text" class="input input-small" name="A4[]" value="{$vo.data_bank_6.A4.b}">
	</td>
	<td>
		<input type="text" class="input input-small" name="Rate_A4[]" value="{$vo.data_bank_6.Rate_A4.b}">
	</td>
	<td>
		<input type="text" class="input input-small" name="A5[]" value="{$vo.data_bank_6.A5.b}">
	</td>
	<td>
		<input type="text" class="input input-small" name="Rate_A5[]" value="{$vo.data_bank_6.Rate_A5.b}">
	</td>
	<td>
		<input type="text" class="input input-small" name="A6[]" value="{$vo.data_bank_6.A6.b}">
	</td>
	<td>
		<input type="text" class="input input-small" name="Rate_A6[]" value="{$vo.data_bank_6.Rate_A6.b}">
	</td>
	<td>
		<input type="text" class="input input-small" name="A7[]" value="{$vo.data_bank_6.A7.b}">
	</td>
	<td>
		<input type="text" class="input input-small" name="Rate_A7[]" value="{$vo.data_bank_6.Rate_A7.b}">
	</td>
</tr>
<tr>
	<td>五年以上</td>
	<td>
		<input type="text" class="input input-small" name="A1[]" value="{$vo.data_bank_6.A1.c}">
	</td>
	<td>
		<input type="text" class="input input-small" name="Rate_A1[]" value="{$vo.data_bank_6.Rate_A1.c}">
	</td>
	<td>
		<input type="text" class="input input-small" name="A2[]" value="{$vo.data_bank_6.A2.c}">
	</td>
	<td>
		<input type="text" class="input input-small" name="Rate_A2[]" value="{$vo.data_bank_6.Rate_A2.c}">
	</td>
	<td>
		<input type="text" class="input input-small" name="A3[]" value="{$vo.data_bank_6.A3.c}">
	</td>
	<td>
		<input type="text" class="input input-small" name="Rate_A3[]" value="{$vo.data_bank_6.Rate_A3.c}">
	</td>
	<td>
		<input type="text" class="input input-small" name="A4[]" value="{$vo.data_bank_6.A4.c}">
	</td>
	<td>
		<input type="text" class="input input-small" name="Rate_A4[]" value="{$vo.data_bank_6.Rate_A4.c}">
	</td>
	<td>
		<input type="text" class="input input-small" name="A5[]" value="{$vo.data_bank_6.A5.c}">
	</td>
	<td>
		<input type="text" class="input input-small" name="Rate_A5[]" value="{$vo.data_bank_6.Rate_A5.c}">
	</td>
	<td>
		<input type="text" class="input input-small" name="A6[]" value="{$vo.data_bank_6.A6.c}">
	</td>
	<td>
		<input type="text" class="input input-small" name="Rate_A6[]" value="{$vo.data_bank_6.Rate_A6.c}">
	</td>
	<td>
		<input type="text" class="input input-small" name="A7[]" value="{$vo.data_bank_6.A7.c}">
	</td>
	<td>
		<input type="text" class="input input-small" name="Rate_A7[]" value="{$vo.data_bank_6.Rate_A7.c}">
	</td>
</tr>
<tr>
	<td>合计</td>
	<td>
		<input type="text" class="input input-small" name="A1[]" value="{$vo.data_bank_6.A1.d}">
	</td>
	<td>
		<input type="text" class="input input-small" name="Rate_A1[]" value="{$vo.data_bank_6.Rate_A1.d}">
	</td>
	<td>
		<input type="text" class="input input-small" name="A2[]" value="{$vo.data_bank_6.A2.d}">
	</td>
	<td>
		<input type="text" class="input input-small" name="Rate_A2[]" value="{$vo.data_bank_6.Rate_A2.d}">
	</td>
	<td>
		<input type="text" class="input input-small" name="A3[]" value="{$vo.data_bank_6.A3.d}">
	</td>
	<td>
		<input type="text" class="input input-small" name="Rate_A3[]" value="{$vo.data_bank_6.Rate_A3.d}">
	</td>
	<td>
		<input type="text" class="input input-small" name="A4[]" value="{$vo.data_bank_6.A4.d}">
	</td>
	<td>
		<input type="text" class="input input-small" name="Rate_A4[]" value="{$vo.data_bank_6.Rate_A4.d}">
	</td>
	<td>
		<input type="text" class="input input-small" name="A5[]" value="{$vo.data_bank_6.A5.d}">
	</td>
	<td>
		<input type="text" class="input input-small" name="Rate_A5[]" value="{$vo.data_bank_6.Rate_A5.d}">
	</td>
	<td>
		<input type="text" class="input input-small" name="A6[]" value="{$vo.data_bank_6.A6.d}">
	</td>
	<td>
		<input type="text" class="input input-small" name="Rate_A6[]" value="{$vo.data_bank_6.Rate_A6.d}">
	</td>
	<td>
		<input type="text" class="input input-small" name="A7[]" value="{$vo.data_bank_6.A7.d}">
	</td>
	<td>
		<input type="text" class="input input-small" name="Rate_A7[]" value="{$vo.data_bank_6.Rate_A7.d}">
	</td>
</tr>