<extend name="Public/base"/>
<block name="body">
	<div class="g-wrap">
		<!-- 按钮工具栏 -->
		<div class="u-tab">

			<ul class="cc">
				<li class="current"><a href="javascript:;">银行机构单位统计表</a></li>
			</ul>
		</div>
		<div class="search_type cc mb10 search-form">
			<div class="mb10">
				&nbsp;	<select name="year" class="year">
					<php>
						$years = [];
						$cur_year = I('get.year') ? I('get.year') : date('Y');
						for($i = 2016;$i<=date('Y');$i++) {
						$years[] = $i;
						}

						foreach($years as $year){
						$selected = ($year == $cur_year) ? 'selected' : '';
						echo '<option value="'.$year.'" '.$selected.'>'.$year.'</option>';
						}
					</php>
				</select>年
				<select name="month" class="month">
					<php>
						$months = [1,2,3,4,5,6,7,8,9,10,11,12];
						$cur_month = I('get.month') ? I('get.month') : date('m');
						foreach($months as $month){
						$selected = ($month == $cur_month) ? 'selected' : '';
						echo '<option value="'.$month.'" '.$selected.'>'.$month.'</option>';
						}
					</php>
				</select>月
				<a class="u-btn" href="javascript:;" id="search" url="{:U('')}">搜索</a>
				<!-- <a href="javascript:;" class="u-btn" onclick="{:U('post/index',array('resetFiter'=>true))}">重置</a> -->
				</span>
			</div>
		</div>
		<!-- 数据表格 -->
		<div class="table_list">
			<volist name="statistics" id="vo" key="k" >
				<if condition="$vo['data']">
					<a class="btn select_table" id="{$k}">{$vo.name}</a>
				</if>

			</volist>

			<div style="height: 1px;width:100%;margin: 10px 0 "></div>
			<if condition="$statistics[0]['data']" style="display: none">
				<table class="biaoge table1">
					<tr>
						<td colspan="100"><span class="title">慈溪市金融机构本外币信贷收支情况表(表1)</span><span> (单位 亿元)</span><a class="btn" href="{:U('export_excel')}/type/1/year/{:I('year')}/month/{:I('month')}">导出excel</a></td>
					</tr>
					<tr>
						<td >类型</td>
						<td >金融机构名称</td>
						<td width="100"></td>
						<td >一、各项存款</td>
						<td >1、对公存款</td>
						<td >(1)活期存款</td>
						<td >(2)定期存款</td>
						<td >2、储蓄存款</td>
						<td >(1)活期储蓄</td>
						<td >(2)定期储蓄</td>
						<td >3、保证金存款</td>
						<td >(1)开证保证金</td>
						<td >(2)签发银票保证金</td>
						<td >(3)商票保贴保证金</td>
						<td >(4)开立保函保证金</td>
						<td >4、其他存款</td>
						<td >二、各项贷款</td>
						<td >1、小企业贷款</td>
						<td >2、担保公司担保贷款</td>
						<td >3、政府平台公司贷款</td>
						<td >4、涉农贷款</td>
						<td >(1)农业贷款</td>
						<td >(2)农户贷款</td>
						<td >5、固定资产贷款</td>
						<td >6、房地产开发贷款</td>
						<td >7、个人住房贷款</td>
						<td >8、个人经营性贷款</td>
						<td >9、票据贴现</td>
						<td >(1)银票贴现</td>
						<td >(2)商票贴现</td>
					</tr>


					<volist name="statistics[0]['data']" id="type_data" key="type_name">
						<if condition="$key != '合计'">
							<tr>
								<td rowspan="<php>echo count($type_data) * 5 + 1;</php>">{$key}</td>
							</tr>
							<volist name="type_data" id="data">
								<tr>
									<td rowspan="5">{$data['all_name']}</td>
								</tr>
								<tr>
									<td>上年末余额</td>
									<td>{$data['content']['Deposits'][0]}</td>
									<td>{$data['content']['Deposits_A'][0]}</td>
									<td>{$data['content']['Deposits_A1'][0]}</td>
									<td>{$data['content']['Deposits_A2'][0]}</td>
									<td>{$data['content']['Deposits_B'][0]}</td>
									<td>{$data['content']['Deposits_B1'][0]}</td>
									<td>{$data['content']['Deposits_B2'][0]}</td>
									<td>{$data['content']['Deposits_C'][0]}</td>
									<td>{$data['content']['Deposits_C1'][0]}</td>
									<td>{$data['content']['Deposits_C2'][0]}</td>
									<td>{$data['content']['Deposits_C3'][0]}</td>
									<td>{$data['content']['Deposits_C4'][0]}</td>
									<td>{$data['content']['Deposits_D'][0]}</td>
									<td>{$data['content']['Loans'][0]}</td>
									<td>{$data['content']['Loans_A'][0]}</td>
									<td>{$data['content']['Loans_B'][0]}</td>
									<td>{$data['content']['Loans_C'][0]}</td>
									<td>{$data['content']['Loans_D'][0]}</td>
									<td>{$data['content']['Loans_D1'][0]}</td>
									<td>{$data['content']['Loans_D2'][0]}</td>
									<td>{$data['content']['Loans_E'][0]}</td>
									<td>{$data['content']['Loans_F'][0]}</td>
									<td>{$data['content']['Loans_G'][0]}</td>
									<td>{$data['content']['Loans_H'][0]}</td>
									<td>{$data['content']['Loans_I'][0]}</td>
									<td>{$data['content']['Loans_I1'][0]}</td>
									<td>{$data['content']['Loans_I2'][0]}</td>
								</tr>
								<tr>
									<td>本期余额</td>
									<td>{$data['content']['Deposits'][1]}</td>
									<td>{$data['content']['Deposits_A'][1]}</td>
									<td>{$data['content']['Deposits_A1'][1]}</td>
									<td>{$data['content']['Deposits_A2'][1]}</td>
									<td>{$data['content']['Deposits_B'][1]}</td>
									<td>{$data['content']['Deposits_B1'][1]}</td>
									<td>{$data['content']['Deposits_B2'][1]}</td>
									<td>{$data['content']['Deposits_C'][1]}</td>
									<td>{$data['content']['Deposits_C1'][1]}</td>
									<td>{$data['content']['Deposits_C2'][1]}</td>
									<td>{$data['content']['Deposits_C3'][1]}</td>
									<td>{$data['content']['Deposits_C4'][1]}</td>
									<td>{$data['content']['Deposits_D'][1]}</td>
									<td>{$data['content']['Loans'][1]}</td>
									<td>{$data['content']['Loans_A'][1]}</td>
									<td>{$data['content']['Loans_B'][1]}</td>
									<td>{$data['content']['Loans_C'][1]}</td>
									<td>{$data['content']['Loans_D'][1]}</td>
									<td>{$data['content']['Loans_D1'][1]}</td>
									<td>{$data['content']['Loans_D2'][1]}</td>
									<td>{$data['content']['Loans_E'][1]}</td>
									<td>{$data['content']['Loans_F'][1]}</td>
									<td>{$data['content']['Loans_G'][1]}</td>
									<td>{$data['content']['Loans_H'][1]}</td>
									<td>{$data['content']['Loans_I'][1]}</td>
									<td>{$data['content']['Loans_I1'][1]}</td>
									<td>{$data['content']['Loans_I2'][1]}</td>
								</tr>
								<tr>
									<td>比上年末</td>
									<td>{$data['content']['Deposits'][2]}</td>
									<td>{$data['content']['Deposits_A'][2]}</td>
									<td>{$data['content']['Deposits_A1'][2]}</td>
									<td>{$data['content']['Deposits_A2'][2]}</td>
									<td>{$data['content']['Deposits_B'][2]}</td>
									<td>{$data['content']['Deposits_B1'][2]}</td>
									<td>{$data['content']['Deposits_B2'][2]}</td>
									<td>{$data['content']['Deposits_C'][2]}</td>
									<td>{$data['content']['Deposits_C1'][2]}</td>
									<td>{$data['content']['Deposits_C2'][2]}</td>
									<td>{$data['content']['Deposits_C3'][2]}</td>
									<td>{$data['content']['Deposits_C4'][2]}</td>
									<td>{$data['content']['Deposits_D'][2]}</td>
									<td>{$data['content']['Loans'][2]}</td>
									<td>{$data['content']['Loans_A'][2]}</td>
									<td>{$data['content']['Loans_B'][2]}</td>
									<td>{$data['content']['Loans_C'][2]}</td>
									<td>{$data['content']['Loans_D'][2]}</td>
									<td>{$data['content']['Loans_D1'][2]}</td>
									<td>{$data['content']['Loans_D2'][2]}</td>
									<td>{$data['content']['Loans_E'][2]}</td>
									<td>{$data['content']['Loans_F'][2]}</td>
									<td>{$data['content']['Loans_G'][2]}</td>
									<td>{$data['content']['Loans_H'][2]}</td>
									<td>{$data['content']['Loans_I'][2]}</td>
									<td>{$data['content']['Loans_I1'][2]}</td>
									<td>{$data['content']['Loans_I2'][2]}</td>
								</tr>
								<tr>
									<td>同比增长%</td>
									<td>{$data['content']['Deposits'][3]}</td>
									<td>{$data['content']['Deposits_A'][3]}</td>
									<td>{$data['content']['Deposits_A1'][3]}</td>
									<td>{$data['content']['Deposits_A2'][3]}</td>
									<td>{$data['content']['Deposits_B'][3]}</td>
									<td>{$data['content']['Deposits_B1'][3]}</td>
									<td>{$data['content']['Deposits_B2'][3]}</td>
									<td>{$data['content']['Deposits_C'][3]}</td>
									<td>{$data['content']['Deposits_C1'][3]}</td>
									<td>{$data['content']['Deposits_C2'][3]}</td>
									<td>{$data['content']['Deposits_C3'][3]}</td>
									<td>{$data['content']['Deposits_C4'][3]}</td>
									<td>{$data['content']['Deposits_D'][3]}</td>
									<td>{$data['content']['Loans'][3]}</td>
									<td>{$data['content']['Loans_A'][3]}</td>
									<td>{$data['content']['Loans_B'][3]}</td>
									<td>{$data['content']['Loans_C'][3]}</td>
									<td>{$data['content']['Loans_D'][3]}</td>
									<td>{$data['content']['Loans_D1'][3]}</td>
									<td>{$data['content']['Loans_D2'][3]}</td>
									<td>{$data['content']['Loans_E'][3]}</td>
									<td>{$data['content']['Loans_F'][3]}</td>
									<td>{$data['content']['Loans_G'][3]}</td>
									<td>{$data['content']['Loans_H'][3]}</td>
									<td>{$data['content']['Loans_I'][3]}</td>
									<td>{$data['content']['Loans_I1'][3]}</td>
									<td>{$data['content']['Loans_I2'][3]}</td>
								</tr>
							</volist>

							<else/>
							<tr><td rowspan="6">合计</td></tr>
							<tr><td rowspan="5"></td></tr>
							<tr>
								<td>上年末余额</td>
								<td>{$statistics[0]['data']['合计']['Deposits'][0]}</td>
								<td>{$statistics[0]['data']['合计']['Deposits_A'][0]}</td>
								<td>{$statistics[0]['data']['合计']['Deposits_A1'][0]}</td>
								<td>{$statistics[0]['data']['合计']['Deposits_A2'][0]}</td>
								<td>{$statistics[0]['data']['合计']['Deposits_B'][0]}</td>
								<td>{$statistics[0]['data']['合计']['Deposits_B1'][0]}</td>
								<td>{$statistics[0]['data']['合计']['Deposits_B2'][0]}</td>
								<td>{$statistics[0]['data']['合计']['Deposits_C'][0]}</td>
								<td>{$statistics[0]['data']['合计']['Deposits_C1'][0]}</td>
								<td>{$statistics[0]['data']['合计']['Deposits_C2'][0]}</td>
								<td>{$statistics[0]['data']['合计']['Deposits_C3'][0]}</td>
								<td>{$statistics[0]['data']['合计']['Deposits_C4'][0]}</td>
								<td>{$statistics[0]['data']['合计']['Deposits_D'][0]}</td>
								<td>{$statistics[0]['data']['合计']['Loans'][0]}</td>
								<td>{$statistics[0]['data']['合计']['Loans_A'][0]}</td>
								<td>{$statistics[0]['data']['合计']['Loans_B'][0]}</td>
								<td>{$statistics[0]['data']['合计']['Loans_C'][0]}</td>
								<td>{$statistics[0]['data']['合计']['Loans_D'][0]}</td>
								<td>{$statistics[0]['data']['合计']['Loans_D1'][0]}</td>
								<td>{$statistics[0]['data']['合计']['Loans_D2'][0]}</td>
								<td>{$statistics[0]['data']['合计']['Loans_E'][0]}</td>
								<td>{$statistics[0]['data']['合计']['Loans_F'][0]}</td>
								<td>{$statistics[0]['data']['合计']['Loans_G'][0]}</td>
								<td>{$statistics[0]['data']['合计']['Loans_H'][0]}</td>
								<td>{$statistics[0]['data']['合计']['Loans_I'][0]}</td>
								<td>{$statistics[0]['data']['合计']['Loans_I1'][0]}</td>
								<td>{$statistics[0]['data']['合计']['Loans_I2'][0]}</td>
							</tr>
							<tr>
								<td>本期余额</td>
								<td>{$statistics[0]['data']['合计']['Deposits'][1]}</td>
								<td>{$statistics[0]['data']['合计']['Deposits_A'][1]}</td>
								<td>{$statistics[0]['data']['合计']['Deposits_A1'][1]}</td>
								<td>{$statistics[0]['data']['合计']['Deposits_A2'][1]}</td>
								<td>{$statistics[0]['data']['合计']['Deposits_B'][1]}</td>
								<td>{$statistics[0]['data']['合计']['Deposits_B1'][1]}</td>
								<td>{$statistics[0]['data']['合计']['Deposits_B2'][1]}</td>
								<td>{$statistics[0]['data']['合计']['Deposits_C'][1]}</td>
								<td>{$statistics[0]['data']['合计']['Deposits_C1'][1]}</td>
								<td>{$statistics[0]['data']['合计']['Deposits_C2'][1]}</td>
								<td>{$statistics[0]['data']['合计']['Deposits_C3'][1]}</td>
								<td>{$statistics[0]['data']['合计']['Deposits_C4'][1]}</td>
								<td>{$statistics[0]['data']['合计']['Deposits_D'][1]}</td>
								<td>{$statistics[0]['data']['合计']['Loans'][1]}</td>
								<td>{$statistics[0]['data']['合计']['Loans_A'][1]}</td>
								<td>{$statistics[0]['data']['合计']['Loans_B'][1]}</td>
								<td>{$statistics[0]['data']['合计']['Loans_C'][1]}</td>
								<td>{$statistics[0]['data']['合计']['Loans_D'][1]}</td>
								<td>{$statistics[0]['data']['合计']['Loans_D1'][1]}</td>
								<td>{$statistics[0]['data']['合计']['Loans_D2'][1]}</td>
								<td>{$statistics[0]['data']['合计']['Loans_E'][1]}</td>
								<td>{$statistics[0]['data']['合计']['Loans_F'][1]}</td>
								<td>{$statistics[0]['data']['合计']['Loans_G'][1]}</td>
								<td>{$statistics[0]['data']['合计']['Loans_H'][1]}</td>
								<td>{$statistics[0]['data']['合计']['Loans_I'][1]}</td>
								<td>{$statistics[0]['data']['合计']['Loans_I1'][1]}</td>
								<td>{$statistics[0]['data']['合计']['Loans_I2'][1]}</td>
							</tr>

							<tr>
								<td>比上年末</td>
								<td>{$statistics[0]['data']['合计']['Deposits'][2]}</td>
								<td>{$statistics[0]['data']['合计']['Deposits_A'][2]}</td>
								<td>{$statistics[0]['data']['合计']['Deposits_A1'][2]}</td>
								<td>{$statistics[0]['data']['合计']['Deposits_A2'][2]}</td>
								<td>{$statistics[0]['data']['合计']['Deposits_B'][2]}</td>
								<td>{$statistics[0]['data']['合计']['Deposits_B1'][2]}</td>
								<td>{$statistics[0]['data']['合计']['Deposits_B2'][2]}</td>
								<td>{$statistics[0]['data']['合计']['Deposits_C'][2]}</td>
								<td>{$statistics[0]['data']['合计']['Deposits_C1'][2]}</td>
								<td>{$statistics[0]['data']['合计']['Deposits_C2'][2]}</td>
								<td>{$statistics[0]['data']['合计']['Deposits_C3'][2]}</td>
								<td>{$statistics[0]['data']['合计']['Deposits_C4'][2]}</td>
								<td>{$statistics[0]['data']['合计']['Deposits_D'][2]}</td>
								<td>{$statistics[0]['data']['合计']['Loans'][2]}</td>
								<td>{$statistics[0]['data']['合计']['Loans_A'][2]}</td>
								<td>{$statistics[0]['data']['合计']['Loans_B'][2]}</td>
								<td>{$statistics[0]['data']['合计']['Loans_C'][2]}</td>
								<td>{$statistics[0]['data']['合计']['Loans_D'][2]}</td>
								<td>{$statistics[0]['data']['合计']['Loans_D1'][2]}</td>
								<td>{$statistics[0]['data']['合计']['Loans_D2'][2]}</td>
								<td>{$statistics[0]['data']['合计']['Loans_E'][2]}</td>
								<td>{$statistics[0]['data']['合计']['Loans_F'][2]}</td>
								<td>{$statistics[0]['data']['合计']['Loans_G'][2]}</td>
								<td>{$statistics[0]['data']['合计']['Loans_H'][2]}</td>
								<td>{$statistics[0]['data']['合计']['Loans_I'][2]}</td>
								<td>{$statistics[0]['data']['合计']['Loans_I1'][2]}</td>
								<td>{$statistics[0]['data']['合计']['Loans_I2'][2]}</td>
							</tr>

							<tr>
								<td>同比增长%</td>
								<td>{$statistics[0]['data']['合计']['Deposits'][3]}</td>
								<td>{$statistics[0]['data']['合计']['Deposits_A'][3]}</td>
								<td>{$statistics[0]['data']['合计']['Deposits_A1'][3]}</td>
								<td>{$statistics[0]['data']['合计']['Deposits_A2'][3]}</td>
								<td>{$statistics[0]['data']['合计']['Deposits_B'][3]}</td>
								<td>{$statistics[0]['data']['合计']['Deposits_B1'][3]}</td>
								<td>{$statistics[0]['data']['合计']['Deposits_B2'][3]}</td>
								<td>{$statistics[0]['data']['合计']['Deposits_C'][3]}</td>
								<td>{$statistics[0]['data']['合计']['Deposits_C1'][3]}</td>
								<td>{$statistics[0]['data']['合计']['Deposits_C2'][3]}</td>
								<td>{$statistics[0]['data']['合计']['Deposits_C3'][3]}</td>
								<td>{$statistics[0]['data']['合计']['Deposits_C4'][3]}</td>
								<td>{$statistics[0]['data']['合计']['Deposits_D'][3]}</td>
								<td>{$statistics[0]['data']['合计']['Loans'][3]}</td>
								<td>{$statistics[0]['data']['合计']['Loans_A'][3]}</td>
								<td>{$statistics[0]['data']['合计']['Loans_B'][3]}</td>
								<td>{$statistics[0]['data']['合计']['Loans_C'][3]}</td>
								<td>{$statistics[0]['data']['合计']['Loans_D'][3]}</td>
								<td>{$statistics[0]['data']['合计']['Loans_D1'][3]}</td>
								<td>{$statistics[0]['data']['合计']['Loans_D2'][3]}</td>
								<td>{$statistics[0]['data']['合计']['Loans_E'][3]}</td>
								<td>{$statistics[0]['data']['合计']['Loans_F'][3]}</td>
								<td>{$statistics[0]['data']['合计']['Loans_G'][3]}</td>
								<td>{$statistics[0]['data']['合计']['Loans_H'][3]}</td>
								<td>{$statistics[0]['data']['合计']['Loans_I'][3]}</td>
								<td>{$statistics[0]['data']['合计']['Loans_I1'][3]}</td>
								<td>{$statistics[0]['data']['合计']['Loans_I2'][3]}</td>
							</tr>

						</if>

					</volist>
				</table>
			</if>
			<if condition="$statistics[1]['data']">
				<table class="biaoge table2" style="display: none">
					<tr>
						<td colspan="100"><span class="title">慈溪市金融机构本外币存贷情况表(表2)</span><span> (单位 万元)</span><a class="btn" href="{:U('export_excel')}/type/2/year/{:I('year')}/month/{:I('month')}">导出excel</a></td>
					</tr>
					<tr>
						<td rowspan="2">类型</td>
						<td rowspan="2">金融机构名称</td>
						<td colspan="6">各项存款</td>
						<td colspan="6">各项贷款</td>
						<td colspan="2">本月存贷比</td>

					</tr>
					<tr>
						<td>年初余额</td>
						<td>上月余额</td>
						<td>月末余额</td>
						<td>比上月</td>
						<td>比年初</td>
						<td>同比</td>
						<td>年初余额</td>
						<td>上月余额</td>
						<td>月末余额</td>
						<td>比上月</td>
						<td>比年初</td>
						<td>同比</td>
						<td>余额比%</td>
						<td>增量比%</td>
					</tr>


					<volist name="statistics[1]['data']" id="type_data" key="type_name">
						<if condition="$key != '合计'">
							<tr>
								<td rowspan="<php>echo count($type_data) + 1</php>">{$key}</td>
							</tr>
							<volist name="type_data" id="data">
								<tr>
									<td>{$data['all_name']}</td>
									<td>{$data['content']['Deposits'][0]}</td>
									<td>{$data['content']['Deposits'][1]}</td>
									<td>{$data['content']['Deposits'][2]}</td>
									<td>{$data['content']['Deposits'][3]}</td>
									<td>{$data['content']['Deposits'][4]}</td>
									<td>{$data['content']['Deposits'][5]}</td>
									<td>{$data['content']['Loans'][0]}</td>
									<td>{$data['content']['Loans'][1]}</td>
									<td>{$data['content']['Loans'][2]}</td>
									<td>{$data['content']['Loans'][3]}</td>
									<td>{$data['content']['Loans'][4]}</td>
									<td>{$data['content']['Loans'][5]}</td>
									<td>{$data['content']['Deposits_Loans'][0]}</td>
									<td>{$data['content']['Deposits_Loans'][1]}</td>
								</tr>

							</volist>

							<else/>
							<tr>
								<td>合计</td>
								<td></td>
								<td>{$statistics[1]['data']['合计']['Deposits'][0]}</td>
								<td>{$statistics[1]['data']['合计']['Deposits'][1]}</td>
								<td>{$statistics[1]['data']['合计']['Deposits'][2]}</td>
								<td>{$statistics[1]['data']['合计']['Deposits'][3]}</td>
								<td>{$statistics[1]['data']['合计']['Deposits'][4]}</td>
								<td>{$statistics[1]['data']['合计']['Deposits'][5]}</td>
								<td>{$statistics[1]['data']['合计']['Loans'][0]}</td>
								<td>{$statistics[1]['data']['合计']['Loans'][1]}</td>
								<td>{$statistics[1]['data']['合计']['Loans'][2]}</td>
								<td>{$statistics[1]['data']['合计']['Loans'][3]}</td>
								<td>{$statistics[1]['data']['合计']['Loans'][4]}</td>
								<td>{$statistics[1]['data']['合计']['Loans'][5]}</td>
								<td>{$statistics[1]['data']['合计']['Deposits_Loans'][0]}</td>
								<td>{$statistics[1]['data']['合计']['Deposits_Loans'][1]}</td>
							</tr>

						</if>

					</volist>
				</table>
			</if>
			<if condition="$statistics[2]['data']">
				<table class="biaoge table3" style="display: none">
					<tr>
						<td colspan="100"><span class="title">慈溪市金融机构本外币存贷情况表(表3)</span><span> (单位 万元)</span><a class="btn" href="{:U('export_excel')}/type/3/year/{:I('year')}/month/{:I('month')}">导出excel</a></td>
					</tr>
					<tr>
						<td rowspan="2">类型</td>
						<td rowspan="2">金融机构名称</td>
						<td rowspan="2">贷款余额</td>
						<td colspan="5">其中:五级分类</td>
						<td rowspan="2">年初后三类不良贷款额</td>
						<td rowspan="2">本月末后三类不良贷款额</td>
						<td rowspan="2">比年初</td>
						<td rowspan="2">比上月</td>
						<td rowspan="2">比去年同期</td>
						<td rowspan="2">年初不良贷款率</td>
						<td rowspan="2">本月末不良贷款率</td>
						<td rowspan="2">比年初%</td>
						<td rowspan="2">比上月%</td>
						<td rowspan="2">比去年同期%</td>
					</tr>
					<tr>
						<td>正常</td>
						<td>关注</td>
						<td>次级</td>
						<td>可疑</td>
						<td>损失</td>

					</tr>

					<volist name="statistics[2]['data']" id="type_data" key="type_name">
						<if condition="$key != '合计'">
							<tr>
								<td rowspan="<php>echo count($type_data) + 1</php>">{$key}</td>
							</tr>
							<volist name="type_data" id="data">
								<tr>
									<td>{$data['all_name']}</td>
									<td>{$data['content']['Loans']}</td>
									<td>{$data['content']['Baddebt_A']}</td>
									<td>{$data['content']['Baddebt_B']}</td>
									<td>{$data['content']['Baddebt_C']}</td>
									<td>{$data['content']['Baddebt_D']}</td>
									<td>{$data['content']['Baddebt_E']}</td>
									<td>{$data['content']['Baddebt_CDE_year_begin']}</td>
									<td>{$data['content']['Baddebt_CDE']}</td>
									<td>{$data['content']['Baddebt_CDE_year_begin_modify']}</td>
									<td>{$data['content']['Baddebt_CDE_last_month_modify']}</td>
									<td>{$data['content']['Baddebt_CDE_past_modify']}</td>
									<td>{$data['content']['Baddebt_Month_Rate_year_begin']}</td>
									<td>{$data['content']['Baddebt_Month_Rate']}</td>
									<td>{$data['content']['Baddebt_Month_Rate_year_begin_modify']}</td>
									<td>{$data['content']['Baddebt_Month_Rate_last_month_modify']}</td>
									<td>{$data['content']['Baddebt_Month_Rate_past_modify']}</td>

								</tr>

							</volist>

							<else/>
							<tr>
								<td>合计</td>
								<td></td>
								<td>{$statistics[2]['data']['合计']['Loans']}</td>
								<td>{$statistics[2]['data']['合计']['Baddebt_A']}</td>
								<td>{$statistics[2]['data']['合计']['Baddebt_B']}</td>
								<td>{$statistics[2]['data']['合计']['Baddebt_C']}</td>
								<td>{$statistics[2]['data']['合计']['Baddebt_D']}</td>
								<td>{$statistics[2]['data']['合计']['Baddebt_E']}</td>
								<td>{$statistics[2]['data']['合计']['Baddebt_CDE_year_begin']}</td>
								<td>{$statistics[2]['data']['合计']['Baddebt_CDE']}</td>
								<td>{$statistics[2]['data']['合计']['Baddebt_CDE_year_begin_modify']}</td>
								<td>{$statistics[2]['data']['合计']['Baddebt_CDE_last_month_modify']}</td>
								<td>{$statistics[2]['data']['合计']['Baddebt_CDE_past_modify']}</td>
								<td>{$statistics[2]['data']['合计']['Baddebt_Month_Rate_year_begin']}</td>
								<td>{$statistics[2]['data']['合计']['Baddebt_Month_Rate']}</td>
								<td>{$statistics[2]['data']['合计']['Baddebt_Month_Rate_year_begin_modify']}</td>
								<td>{$statistics[2]['data']['合计']['Baddebt_Month_Rate_last_month_modify']}</td>
								<td>{$statistics[2]['data']['合计']['Baddebt_Month_Rate_past_modify']}</td>

							</tr>

						</if>

					</volist>
				</table>
			</if>
			<if condition="$statistics[3]['data']">
				<table class="biaoge table4" style="display: none">
					<tr>
						<td colspan="100"><span class="title">慈溪市金融机构不良贷款50万(含以上)明细表(表4)</span><span> (单位 万元)</span><a class="btn" href="{:U('export_excel')}/type/4/year/{:I('year')}/month/{:I('month')}">导出excel</a></td>
					</tr>
					<tr>

						<td >金融机构</td>
						<td >企业名称(包括个人)</td>
						<td >法定代表人</td>
						<td >地址</td>
						<td >不良贷款余额</td>
						<td >不良贷款分类</td>
						<td >行业分类</td>
						<td >列入不良时间</td>
						<td >收回不良时间</td>
						<td >不良产生的原因</td>
						<td >清收措施</td>
						<td >企业基本情况(1000万以上填写)</td>
						<td >下步处置计划(1000万以上填写)</td>
						<td >要求/建议(1000万以上填写)</td>
					</tr>


					<volist name="statistics[3]['data']" id="data">
						<tr>
							<td>{$data['all_name']}</td>
							<td>{$data['enterprise']}</td>
							<td>{$data['content']['Principal']}</td>
							<td>{$data['content']['Address']}</td>
							<td>{$data['content']['Loans']}</td>
							<td>{$data['content']['Loans_Type']}</td>
							<td>{$data['content']['Industry']}</td>
							<td>{$data['content']['Startdate']|time_to_date}</td>
							<td>{$data['content']['Enddate']|time_to_date}</td>
							<td>{$data['content']['Reason']}</td>
							<td>{$data['content']['Handle']}</td>
							<td>{$data['content']['Info']}</td>
							<td>{$data['content']['Plan']}</td>
							<td>{$data['content']['Recommend']}</td>
						</tr>
					</volist>
				</table>
			</if>
			<if condition="$statistics[4]['data']">
				<table class="biaoge table5" style="display: none">
					<tr>
						<td colspan="100"><span class="title">慈溪市金融机构不良资产清收情况表(表5)</span><span> (单位 万元)</span><a class="btn" href="{:U('export_excel')}/type/5/year/{:I('year')}/month/{:I('month')}">导出excel</a></td>
					</tr>
					<tr>

						<td rowspan="2">金融机构</td>
						<td rowspan="2">企业或个人名称</td>
						<td rowspan="2">不良贷款余额</td>
						<td rowspan="2">清收金额合计(一月至累计)</td>
						<td colspan="9">其中:清收方式及金额</td>

					</tr>

					<tr>
						<td >以资抵债金额</td>
						<td >法院清收金额</td>
						<td >核销金额</td>
						<td >划转上级行金额</td>
						<td >政策性剥离金额</td>
						<td >打包出售(注明打包对象)</td>
						<td >金额</td>
						<td >其他(注明清收方式)</td>
						<td >金额</td>
					</tr>
					<volist name="statistics[4]['data']" id="data">
						<tr>
							<td>{$data['all_name']}</td>
							<td>{$data['enterprise']}</td>
							<td>{$data['content']['Loans']}</td>
							<td>{$data['content']['Recover']}</td>
							<td>{$data['content']['Recover_Ot_1']}</td>
							<td>{$data['content']['Recover_Ot_2']}</td>
							<td>{$data['content']['Recover_Ot_3']}</td>
							<td>{$data['content']['Recover_Ot_4']}</td>
							<td>{$data['content']['Recover_Ot_5']}</td>
							<td>{$data['content']['Recover_Ot_6']}</td>
							<td>{$data['content']['Recover_Ot']}</td>
							<td>{$data['content']['Recover_Ot_other_name']}</td>
							<td>{$data['content']['Recover_Ot_other']}</td>
						</tr>
					</volist>
				</table>
			</if>
			<if condition="$statistics[5]['data']">
				<table class="biaoge table6" style="display: none">
					<tr>
						<td colspan="100"><span class="title">慈溪市金融机构关注类贷款明细表(表5)</span><span> (单位 万元)</span><a class="btn" href="{:U('export_excel')}/type/6/year/{:I('year')}/month/{:I('month')}">导出excel</a></td>
					</tr>

					<tr>
						<td >金融机构</td>
						<td >企业或个人名称</td>
						<td >贷款余额</td>
						<td >逾期贷款余额</td>
						<td >发放日期</td>
						<td >到期日期</td>
						<td >行业分类</td>
						<td >企业规模(工信部标准)</td>
						<td >法定代表人</td>
						<td >联系电话</td>
						<td >注册地址</td>
						<td >所属镇街道</td>
						<td >备注</td>
					</tr>
					<volist name="statistics[5]['data']" id="data">
						<tr>
							<td>{$data['all_name']}</td>
							<td>{$data['enterprise']}</td>
							<td>{$data['content']['Loans']}</td>
							<td>{$data['content']['Overdue_Loans']}</td>
							<td>{$data['content']['Startdate']|time_to_date}</td>
							<td>{$data['content']['Enddate']|time_to_date}</td>
							<td>{$data['content']['Industry']}</td>
							<td>{$data['content']['Scale']}</td>
							<td>{$data['content']['Principal']}</td>
							<td>{$data['content']['Address']}</td>
							<td>{$data['content']['Phone']}</td>
							<td>{$data['content']['Area']}</td>
							<td>{$data['content']['Remark']}</td>
						</tr>
					</volist>
				</table>
			</if>
			<if condition="$statistics[6]['data']">
				<table class="biaoge table7" style="display: none">
					<tr>
						<td colspan="100"><span class="title">慈溪市银行贷款利率执行水平监测表(表7)</span><span> (单位 万元)</span><a class="btn" href="{:U('export_excel')}/type/7/year/{:I('year')}/month/{:I('month')}">导出excel</a></td>
					</tr>
					<tr>
						<td rowspan="4">类型</td>
						<td rowspan="4">金融机构名称</td>
						<td colspan="14">一年以内</td>
						<td colspan="14">一年至五年(含5年)</td>
						<td colspan="14">五年以上</td>
					</tr>
					<tr>
						<td rowspan="2" colspan="2">贷款利率</td>
						<td rowspan="2" colspan="2">最高利率</td>
						<td rowspan="2" colspan="2">最低利率</td>
						<td colspan="8">贷款方式</td>
						<td rowspan="2" colspan="2">贷款利率</td>
						<td rowspan="2" colspan="2">最高利率</td>
						<td rowspan="2" colspan="2">最低利率</td>
						<td colspan="8">贷款方式</td>
						<td rowspan="2" colspan="2">贷款利率</td>
						<td rowspan="2" colspan="2">最高利率</td>
						<td rowspan="2" colspan="2">最低利率</td>
						<td colspan="8">贷款方式</td>
					</tr>
					<tr>
						<td colspan="2">信用</td>
						<td colspan="2">抵押(质押)</td>
						<td colspan="2">保证</td>
						<td colspan="2">抵押(质押+保证)</td>
						<td colspan="2">信用</td>
						<td colspan="2">抵押(质押)</td>
						<td colspan="2">保证</td>
						<td colspan="2">抵押(质押+保证)</td>
						<td colspan="2">信用</td>
						<td colspan="2">抵押(质押)</td>
						<td colspan="2">保证</td>
						<td colspan="2">抵押(质押+保证)</td>

					</tr>
					<tr>
						<td>发生额</td>
						<td>加权平均利率</td>
						<td>发生额</td>
						<td>利率</td>
						<td>发生额</td>
						<td>利率</td>
						<td>发生额</td>
						<td>加权平均利率</td>
						<td>发生额</td>
						<td>加权平均利率</td>
						<td>发生额</td>
						<td>加权平均利率</td>
						<td>发生额</td>
						<td>加权平均利率</td>
						<td>发生额</td>
						<td>加权平均利率</td>
						<td>发生额</td>
						<td>利率</td>
						<td>发生额</td>
						<td>利率</td>
						<td>发生额</td>
						<td>加权平均利率</td>
						<td>发生额</td>
						<td>加权平均利率</td>
						<td>发生额</td>
						<td>加权平均利率</td>
						<td>发生额</td>
						<td>加权平均利率</td>
						<td>发生额</td>
						<td>加权平均利率</td>
						<td>发生额</td>
						<td>利率</td>
						<td>发生额</td>
						<td>利率</td>
						<td>发生额</td>
						<td>加权平均利率</td>
						<td>发生额</td>
						<td>加权平均利率</td>
						<td>发生额</td>
						<td>加权平均利率</td>
						<td>发生额</td>
						<td>加权平均利率</td>
					</tr>

					<volist name="statistics[6]['data']" id="type_data" key="type_name">
						<if condition="$key != '合计'">
							<tr>
								<td rowspan="<php>echo count($type_data) + 1</php>">{$key}</td>
							</tr>

							<volist name="type_data" id="data">
								<tr>
									<td>{$data['all_name']}</td>
									<td>{$data['content']['first'][0]}</td>
									<td>{$data['content']['first'][1]}</td>
									<td>{$data['content']['first'][2]}</td>
									<td>{$data['content']['first'][3]}</td>
									<td>{$data['content']['first'][4]}</td>
									<td>{$data['content']['first'][5]}</td>
									<td>{$data['content']['first'][6]}</td>
									<td>{$data['content']['first'][7]}</td>
									<td>{$data['content']['first'][8]}</td>
									<td>{$data['content']['first'][9]}</td>
									<td>{$data['content']['first'][10]}</td>
									<td>{$data['content']['first'][11]}</td>
									<td>{$data['content']['first'][12]}</td>
									<td>{$data['content']['first'][13]}</td>

									<td>{$data['content']['second'][0]}</td>
									<td>{$data['content']['second'][1]}</td>
									<td>{$data['content']['second'][2]}</td>
									<td>{$data['content']['second'][3]}</td>
									<td>{$data['content']['second'][4]}</td>
									<td>{$data['content']['second'][5]}</td>
									<td>{$data['content']['second'][6]}</td>
									<td>{$data['content']['second'][7]}</td>
									<td>{$data['content']['second'][8]}</td>
									<td>{$data['content']['second'][9]}</td>
									<td>{$data['content']['second'][10]}</td>
									<td>{$data['content']['second'][11]}</td>
									<td>{$data['content']['second'][12]}</td>
									<td>{$data['content']['second'][13]}</td>

									<td>{$data['content']['third'][0]}</td>
									<td>{$data['content']['third'][1]}</td>
									<td>{$data['content']['third'][2]}</td>
									<td>{$data['content']['third'][3]}</td>
									<td>{$data['content']['third'][4]}</td>
									<td>{$data['content']['third'][5]}</td>
									<td>{$data['content']['third'][6]}</td>
									<td>{$data['content']['third'][7]}</td>
									<td>{$data['content']['third'][8]}</td>
									<td>{$data['content']['third'][9]}</td>
									<td>{$data['content']['third'][10]}</td>
									<td>{$data['content']['third'][11]}</td>
									<td>{$data['content']['third'][12]}</td>
									<td>{$data['content']['third'][13]}</td>
								</tr>

							</volist>

							<else/>
							<tr>
								<td>合计</td>
								<td></td>
								<td>{$statistics[6]['data']['合计']['first'][0]}</td>
								<td>{$statistics[6]['data']['合计']['first'][1]}</td>
								<td>{$statistics[6]['data']['合计']['first'][2]}</td>
								<td>{$statistics[6]['data']['合计']['first'][3]}</td>
								<td>{$statistics[6]['data']['合计']['first'][4]}</td>
								<td>{$statistics[6]['data']['合计']['first'][5]}</td>
								<td>{$statistics[6]['data']['合计']['first'][6]}</td>
								<td>{$statistics[6]['data']['合计']['first'][7]}</td>
								<td>{$statistics[6]['data']['合计']['first'][8]}</td>
								<td>{$statistics[6]['data']['合计']['first'][9]}</td>
								<td>{$statistics[6]['data']['合计']['first'][10]}</td>
								<td>{$statistics[6]['data']['合计']['first'][11]}</td>
								<td>{$statistics[6]['data']['合计']['first'][12]}</td>
								<td>{$statistics[6]['data']['合计']['first'][13]}</td>

								<td>{$statistics[6]['data']['合计']['second'][0]}</td>
								<td>{$statistics[6]['data']['合计']['second'][1]}</td>
								<td>{$statistics[6]['data']['合计']['second'][2]}</td>
								<td>{$statistics[6]['data']['合计']['second'][3]}</td>
								<td>{$statistics[6]['data']['合计']['second'][4]}</td>
								<td>{$statistics[6]['data']['合计']['second'][5]}</td>
								<td>{$statistics[6]['data']['合计']['second'][6]}</td>
								<td>{$statistics[6]['data']['合计']['second'][7]}</td>
								<td>{$statistics[6]['data']['合计']['second'][8]}</td>
								<td>{$statistics[6]['data']['合计']['second'][9]}</td>
								<td>{$statistics[6]['data']['合计']['second'][10]}</td>
								<td>{$statistics[6]['data']['合计']['second'][11]}</td>
								<td>{$statistics[6]['data']['合计']['second'][12]}</td>
								<td>{$statistics[6]['data']['合计']['second'][13]}</td>

								<td>{$statistics[6]['data']['合计']['third'][0]}</td>
								<td>{$statistics[6]['data']['合计']['third'][1]}</td>
								<td>{$statistics[6]['data']['合计']['third'][2]}</td>
								<td>{$statistics[6]['data']['合计']['third'][3]}</td>
								<td>{$statistics[6]['data']['合计']['third'][4]}</td>
								<td>{$statistics[6]['data']['合计']['third'][5]}</td>
								<td>{$statistics[6]['data']['合计']['third'][6]}</td>
								<td>{$statistics[6]['data']['合计']['third'][7]}</td>
								<td>{$statistics[6]['data']['合计']['third'][8]}</td>
								<td>{$statistics[6]['data']['合计']['third'][9]}</td>
								<td>{$statistics[6]['data']['合计']['third'][10]}</td>
								<td>{$statistics[6]['data']['合计']['third'][11]}</td>
								<td>{$statistics[6]['data']['合计']['third'][12]}</td>
								<td>{$statistics[6]['data']['合计']['third'][13]}</td>
							</tr>

						</if>

					</volist>
				</table>
			</if>
			<if condition="$statistics[7]['data']">
				<table class="biaoge table8" style="display: none">
					<tr>
						<td colspan="100"><span class="title">企业贷款利率执行水平监测表(表8)</span><span> (单位 万元)</span><a class="btn" href="{:U('export_excel')}/type/8/year/{:I('year')}/month/{:I('month')}">导出excel</a></td>
					</tr>
					<tr>
						<td rowspan="2">类型</td>
						<td rowspan="2">金融机构名称</td>
						<td colspan="2">大型企业</td>
						<td colspan="2">中型企业</td>
						<td colspan="2">小型企业</td>
						<td colspan="2">微型企业</td>
					</tr>
					<tr>
						<td>本季发生额</td>
						<td>加权平均利率</td>
						<td>本季发生额</td>
						<td>加权平均利率</td>
						<td>本季发生额</td>
						<td>加权平均利率</td>
						<td>本季发生额</td>
						<td>加权平均利率</td>
					</tr>


					<volist name="statistics[7]['data']" id="type_data" key="type_name">
						<if condition="$key != '合计'">
							<tr>
								<td rowspan="<php>echo count($type_data) + 1</php>">{$key}</td>
							</tr>

							<volist name="type_data" id="data">
								<tr>
									<td>{$data['all_name']}</td>
									<td>{$data['content']['first'][0]}</td>
									<td>{$data['content']['first'][1]}</td>

									<td>{$data['content']['second'][0]}</td>
									<td>{$data['content']['second'][1]}</td>

									<td>{$data['content']['third'][0]}</td>
									<td>{$data['content']['third'][1]}</td>

									<td>{$data['content']['forth'][0]}</td>
									<td>{$data['content']['forth'][1]}</td>
								</tr>

							</volist>

							<else/>
							<tr>
								<td>合计</td>
								<td></td>
								<td>{$statistics[7]['data']['合计']['first'][0]}</td>
								<td>{$statistics[7]['data']['合计']['first'][1]}</td>

								<td>{$statistics[7]['data']['合计']['second'][0]}</td>
								<td>{$statistics[7]['data']['合计']['second'][1]}</td>

								<td>{$statistics[7]['data']['合计']['third'][0]}</td>
								<td>{$statistics[7]['data']['合计']['third'][1]}</td>

								<td>{$statistics[7]['data']['合计']['forth'][0]}</td>
								<td>{$statistics[7]['data']['合计']['forth'][1]}</td>

							</tr>

						</if>

					</volist>
				</table>
			</if>
			<if condition="$statistics[8]['data']">
				<table class="biaoge table9" style="display: none">
					<tr>
						<td colspan="100"><span class="title">资产质量相关情况调查表(表9)</span><span> (单位 万元)</span><a class="btn" href="{:U('export_excel')}/type/9/year/{:I('year')}/month/{:I('month')}">导出excel</a></td>
					</tr>
					<tr>
						<td >类型</td>
						<td >金融机构名称</td>
						<td >关注类贷款余额</td>
						<td >剪刀差</td>
						<td >逾期90天以上未纳入不良</td>
						<td >应收未收利息</td>
					</tr>

					<volist name="statistics[8]['data']" id="type_data" key="type_name">
						<if condition="$key != '合计'">
							<tr>
								<td rowspan="<php>echo count($type_data) + 1</php>">{$key}</td>
							</tr>

							<volist name="type_data" id="data">
								<tr>
									<td>{$data['all_name']}</td>
									<td>{$data['content']['first'][0]}</td>

									<td>{$data['content']['second'][0]}</td>

									<td>{$data['content']['third'][0]}</td>

									<td>{$data['content']['forth'][0]}</td>

								</tr>

							</volist>

							<else/>
							<tr>
								<td>合计</td>
								<td></td>
								<td>{$statistics[8]['data']['合计']['first'][0]}</td>


								<td>{$statistics[8]['data']['合计']['second'][0]}</td>

								<td>{$statistics[8]['data']['合计']['third'][0]}</td>


								<td>{$statistics[8]['data']['合计']['forth'][0]}</td>


							</tr>

						</if>

					</volist>
				</table>
			</if>
		</div>
		<div class="btn_wrap">
			<div class="btn_wrap_pd">
				<a class="u-btn confirm J_ajax_get" href="{:U('')}/action/gain_statistics/year/{:I('year',date('Y'))}/month/{:I('month',intval(date('m')))}" >生成统计</a>

			</div>
		</div>
		<div class="page">
			{$page_html}
		</div>
	</div>
	</div>

</block>
<block name="script">
	<link href="__STATIC__/datetimepicker/css/datetimepicker.css" rel="stylesheet" type="text/css">
	<php>if(C('COLOR_STYLE')=='blue_color') echo '<link href="__STATIC__/datetimepicker/css/datetimepicker_blue.css" rel="stylesheet" type="text/css">';</php>
	<link href="__STATIC__/datetimepicker/css/dropdown.css" rel="stylesheet" type="text/css">
	<script type="text/javascript" src="__STATIC__/datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
	<script type="text/javascript" src="__STATIC__/datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>
	<script type="text/javascript">
		$(function(){
			//搜索功能
			$("#search").click(function(){
				var url = $(this).attr('url');
				var query  = $('.search-form').find('input,select').serialize();
				query = query.replace(/(&|^)(\w*?\d*?\-*?_*?)*?=?((?=&)|(?=$))/g,'');
				query = query.replace(/^&/g,'');


				if( url.indexOf('?')>0 ){
					url += '&' + query;
				}else{
					url += '?' + query;
				}
				window.location.href = url;
			});

			/* 状态搜索子菜单 */
			$(".search-form").find(".drop-down").hover(function(){
				$("#sub-sch-menu").removeClass("hidden");
			},function(){
				$("#sub-sch-menu").addClass("hidden");
			});
			$("#sub-sch-menu li").find("a").each(function(){
				$(this).click(function(){
					var text = $(this).text();
					$("#sch-sort-txt").text(text).attr("data",$(this).attr("value"));
					$("#sub-sch-menu").addClass("hidden");
				})
			});

			//回车自动提交
			$('.search-form').find('input').keyup(function(event){
				if(event.keyCode===13){
					$("#search").click();
				}
			});

			$('#time-start').datetimepicker({
				format: 'yyyy-mm-dd',
				language:"zh-CN",
				minView:2,
				autoclose:true
			});

			$('#datetimepicker').datetimepicker({
				format: 'yyyy-mm-dd',
				language:"zh-CN",
				minView:2,
				autoclose:true,
				pickerPosition:'bottom-left'
			});

			$('.select_table').click(function(){
				var id = $(this).attr('id');
				var year = $('.year').val();
				var month = $('.month').val();
				location.href = '{:U('')}/year/'+year+'/month/'+month+'/table/'+id+'/p/1';
//				$('.biaoge').hide();
//				$('.table'+id).show();

			});

			if ('{:I("table")}') {
				$('.biaoge').hide();
				$('.table'+'{:I("table")}').show();
			} else {
				$('.biaoge').hide();
				$('.table1').show();
			}
		});

	</script>
</block>


