<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>店长的推荐</title>
    <link href="__STATIC__/logo.jpeg" rel="shortcut icon" />
    <script type="text/javascript" src="__STATIC__/jquery_danchu/jquery-1.4.4.min.js"></script>
    <!--<script type="text/javascript" src="__STATIC__/jquery_danchu/jquery.reveal.js"></script>-->
    <!--<link rel="stylesheet" href="__STATIC__/jquery_danchu/reveal.css">-->
    <style>
        *{
            margin: 0;
        }
        body{
            height:100%;
            background:#eeeeee;
            width: 100%;
            overflow-x:hidden;

        }
    </style>
</head>
<body>
加载中。。。

<!--<view class="container" style="background-image: url( {$tmp_data.bg.src} );background-repeat: repeat-y;">-->

<!--</view>-->



</body>
<script>
    $(document).ready(function(){
        var width = document.documentElement.clientWidth;
        var height= document.documentElement.clientHeight;

        $('body').css('height',height+'px');

        $.get("{:U('show')}?id={:I('id')}&w="+width+'&h='+height+"&is_preview={:I('is_preview')}",function(res){
           $('body').html(res);
        })

        //timelimit

    })
</script>

</html>