<style>
    .container{
        min-height:100%;
        height:auto;
        display:flex;
        flex-direction:column;
        align-items:center;
        box-sizing:border-box;
    }
</style>
<div class="container" style="background-image: url({$tmp_data.bg.src});background-size:100%;background-repeat: repeat-y;font-size:{$font_size};position: relative;height:{$tmp_data.height}">
    <volist name="tmp_data.page" id="item">
        <div>
            <if condition="$item['type'] == 'swiper'">
                <include  file="Pagespublic/swiper"/>
            </if>
            <if condition="$item['type'] == 'img'">
                <include  file="Pagespublic/img"/>
            </if>
            <if condition="$item['type'] == 'text'">
                <include  file="Pagespublic/text"/>
            </if>
            <if condition="$item['type'] == 'sign'">
                <include  file="Pagespublic/sign"/>
            </if>
            <if condition="$item['type'] == 'timelimit'">
                <include  file="Pagespublic/timelimit"/>
            </if>

        </div>
    </volist>

</div>
