<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{$page_info.title}</title>
    <script type="text/javascript" src="__STATIC__/jquery_danchu/jquery-1.4.4.min.js"></script>
    <!--<script type="text/javascript" src="__STATIC__/jquery_danchu/jquery.reveal.js"></script>-->
    <!--<link rel="stylesheet" href="__STATIC__/jquery_danchu/reveal.css">-->

</head>
<body>
<div class="content">

</div>
</body>
<script>
    $(document).ready(function(){

    })
</script>

</html>